@font-face {
  font-family: "FreestyleScript";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/FreestyleScript/FreestyleScript.ttf) format("truetype");
  src: url(../fonts/FreestyleScript/FreestyleScript.eot) format("embedded-opentype");
  src: url(../fonts/FreestyleScript/FreestyleScript.eot?#iefix) format("embedded-opentype");
  src: url(../fonts/FreestyleScript/FreestyleScript.woff) format("woff"); }

@font-face {
  font-family: "ProximaNova-Bold";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ProximaNova-Bold/ProximaNova-Bold.ttf) format("truetype");
  src: url(../fonts/ProximaNova-Bold/ProximaNova-Bold.eot) format("embedded-opentype");
  src: url(../fonts/ProximaNova-Bold/ProximaNova-Bold.eot?#iefix) format("embedded-opentype");
  src: url(../fonts/ProximaNova-Bold/ProximaNova-Bold.woff) format("woff"); }

@font-face {
  font-family: "ProximaNova-Extrabold";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ProximaNova-Extrabold/ProximaNova-Extrabold.ttf) format("truetype");
  src: url(../fonts/ProximaNova-Extrabold/ProximaNova-Extrabold.eot) format("embedded-opentype");
  src: url(../fonts/ProximaNova-Extrabold/ProximaNova-Extrabold.eot?#iefix) format("embedded-opentype");
  src: url(../fonts/ProximaNova-Extrabold/ProximaNova-Extrabold.woff) format("woff"); }

@font-face {
  font-family: "ProximaNova-Light";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ProximaNova-Light/ProximaNova-Light.ttf) format("truetype");
  src: url(../fonts/ProximaNova-Light/ProximaNova-Light.eot) format("embedded-opentype");
  src: url(../fonts/ProximaNova-Light/ProximaNova-Light.eot?#iefix) format("embedded-opentype");
  src: url(../fonts/ProximaNova-Light/ProximaNova-Light.woff) format("woff"); }

@font-face {
  font-family: "ProximaNova-LightIt";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ProximaNova-LightIt/ProximaNova-LightIt.ttf) format("truetype");
  src: url(../fonts/ProximaNova-LightIt/ProximaNova-LightIt.eot) format("embedded-opentype");
  src: url(../fonts/ProximaNova-LightIt/ProximaNova-LightIt.eot?#iefix) format("embedded-opentype");
  src: url(../fonts/ProximaNova-LightIt/ProximaNova-LightIt.woff) format("woff"); }

@font-face {
  font-family: "ProximaNova-Regular";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ProximaNova-Regular/ProximaNova-Regular.ttf) format("truetype");
  src: url(../fonts/ProximaNova-Regular/ProximaNova-Regular.eot) format("embedded-opentype");
  src: url(../fonts/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix) format("embedded-opentype");
  src: url(../fonts/ProximaNova-Regular/ProximaNova-Regular.woff) format("woff");
  @font-face {}  font-family: "ProximaNova-Semibold";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ProximaNova-Semibold/ProximaNova-Semibold.ttf) format("truetype");
  src: url(../fonts/ProximaNova-Semibold/ProximaNova-Semibold.eot) format("embedded-opentype");
  src: url(../fonts/ProximaNova-Semibold/ProximaNova-Semibold.eot?#iefix) format("embedded-opentype");
  src: url(../fonts/ProximaNova-Semibold/ProximaNova-Semibold.woff) format("woff"); }

body {
  font-size: 16px;
  font-family: "ProximaNova-Regular", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #fff;
  margin: 0;
  position: relative;
  line-height: 1.6;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent; }
  body::-webkit-scrollbar-track-piece {
    background-color: transparent; }

a {
  text-decoration: none;
  color: #000; }
  a:hover {
    text-decoration: none;
    color: #000; }

p, ul {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

input {
  outline: none; }

.button {
  display: inline-block;
  border: none;
  color: #000;
  background-color: #ffec00;
  text-decoration: none;
  padding: 24px 50px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  text-align: center;
  position: relative;
  outline: none; }
  .button:hover {
    -webkit-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
    -webkit-box-shadow: 0 2px 16px rgba(255, 236, 0, 0.58);
            box-shadow: 0 2px 16px rgba(255, 236, 0, 0.58); }

.button__type_2 {
  display: inline-block;
  border: none;
  color: #000;
  background-color: #ffec00;
  text-decoration: none;
  padding: 15px 45px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  text-align: center;
  position: relative;
  outline: none;
  word-wrap: normal; }
  .button__type_2:hover {
    -webkit-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
    -webkit-box-shadow: 0 2px 16px rgba(255, 236, 0, 0.58);
            box-shadow: 0 2px 16px rgba(255, 236, 0, 0.58); }

.button__type_3 {
  display: inline-block;
  color: #000;
  background-color: transparent;
  border: 1px solid #f0f0f0;
  text-decoration: none;
  padding: 15px 45px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  text-align: center;
  position: relative;
  outline: none; }

.input_wrap {
  position: relative;
  display: block; }
  .input_wrap i {
    display: none;
    position: absolute;
    top: 15px;
    right: 16px;
    font-size: 14px;
    color: #35be70; }

.hamburger {
  padding: 0; }

.hamburger--collapse .hamburger-inner {
  bottom: -4px; }

html.mm-blocking, html.mm-blocking body {
  overflow: inherit; }

.header {
  width: 100%;
  background-color: #fff;
  padding: 25px 0;
  -webkit-box-shadow: 0 4px 2px -2px rgba(88, 54, 126, 0.04);
          box-shadow: 0 4px 2px -2px rgba(88, 54, 126, 0.04); }
  .header__logo {
    font-family: "ProximaNova-Light", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #000;
    font-size: 36px;
    font-weight: 300; }
    .header__logo a {
      position: relative;
      letter-spacing: 9px;
      color: #000; }
      .header__logo a:before {
        content: "";
        position: absolute;
        top: 0;
        left: 38px;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        background-color: #ffec00;
        width: 7px;
        height: 7px; }
  .header__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0 70px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__nav {
    display: inline-block;
    position: relative;
    margin-left: 100px; }
    .header__nav ul li {
      list-style: none;
      display: inline-block; }
      .header__nav ul li a {
        position: relative;
        font-family: "ProximaNova-Bold", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
        color: #7f7f7f;
        text-decoration: none;
        -webkit-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
        font-size: 14px;
        font-weight: 700; }
        .header__nav ul li a:before {
          content: " ";
          position: absolute;
          top: 22px;
          height: 2px;
          width: 0;
          background-color: #ffec00;
          -webkit-transition: width 0.2s ease-in-out;
          -o-transition: width 0.2s ease-in-out;
          transition: width 0.2s ease-in-out;
          left: 0; }
        .header__nav ul li a:after {
          content: " ";
          position: absolute;
          top: 22px;
          height: 2px;
          width: 0;
          background-color: #ffec00;
          -webkit-transition: width 0.2s ease-in-out;
          -o-transition: width 0.2s ease-in-out;
          transition: width 0.2s ease-in-out;
          right: 0; }
        .header__nav ul li a:hover, .header__nav ul li a:focus {
          -webkit-transition: color .5s;
          -o-transition: color .5s;
          transition: color .5s;
          color: #000; }
          .header__nav ul li a:hover:before, .header__nav ul li a:focus:before {
            width: 50%; }
          .header__nav ul li a:hover:after, .header__nav ul li a:focus:after {
            width: 50%; }
      .header__nav ul li + li {
        margin-left: 60px; }
  .header__private-office {
    font-family: "ProximaNova-Semibold", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; }
    .header__private-office:before {
      margin-right: 10px;
      content: "";
      display: inline-block;
      background-image: url(../img/sprite.png);
      background-position: -120px -202px;
      width: 14px;
      height: 15px; }
    .header__private-office a {
      color: #7f7f7f; }
  .header___controls {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline; }
  .header__swich-language {
    opacity: 0;
    position: absolute;
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
    border: 1px solid #f4f3f5;
    padding: 20px;
    border-bottom: 4px solid #ffec00;
    left: 8px;
    top: 40px;
    z-index: -1;
    background: #fff; }
    .header__swich-language:before {
      position: absolute;
      top: -13px;
      left: -webkit-calc(50% - 8px);
      left: calc(50% - 8px);
      content: "";
      display: block;
      background-image: url(../img/sprite.png);
      background-position: -154px -202px;
      width: 16px;
      height: 13px; }
    .header__swich-language a {
      display: block;
      font-size: 14px;
      font-family: "ProximaNova-Semibold", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
      color: #b0b0b0; }
      .header__swich-language a + a {
        margin-top: 15px; }
    .header__swich-language a.active {
      color: #2a2a2a; }
  .header___dropdown-language {
    position: relative;
    margin-right: 40px; }
    .header___dropdown-language .fa-angle-right {
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
    .header___dropdown-language:hover .header__swich-language {
      opacity: 1;
      z-index: 1; }
    .header___dropdown-language:hover .fa-angle-right {
      -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
              transform: rotate(90deg); }
  .header__curent-language {
    padding: 0 30px 30px 30px;
    color: #7f7f7f;
    font-family: "ProximaNova-Semibold", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 14px; }

.hamburger {
  position: fixed;
  top: 17px;
  right: 10px;
  display: none; }

.top-section {
  padding: 140px 70px 0 70px;
  height: -webkit-calc(100vh - 107px);
  height: calc(100vh - 107px);
  background: url(../img/top_section-bg.png) no-repeat 100% center;
  position: relative; }
  .top-section__content {
    position: absolute;
    top: -webkit-calc(50% - 236px);
    top: calc(50% - 236px);
    width: 406px; }
  .top-section__title {
    color: #000;
    text-transform: uppercase;
    display: block;
    font-size: 54px;
    font-weight: 300; }
  .top-section__description {
    color: #9e9e9e;
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    margin: 50px 0 87px 0; }

.for-who {
  padding: 70px 0 75px 0; }
  .for-who__wrap {
    margin-top: 20px;
    padding: 150px 0 140px 0;
    -webkit-box-shadow: 0 73px 101px rgba(88, 54, 126, 0.1);
            box-shadow: 0 73px 101px rgba(88, 54, 126, 0.1);
    position: relative;
    background-color: #fff; }
  .for-who__wrap-bg:before {
    content: "";
    position: absolute;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: -124px;
    width: 250px;
    height: 250px;
    background-image: -webkit-repeating-radial-gradient(center center, #7f7f7f, #7f7f7f 2px, transparent 2px, transparent 100%);
    background-image: -o-repeating-radial-gradient(center center, #7f7f7f, #7f7f7f 2px, transparent 2px, transparent 100%);
    background-image: repeating-radial-gradient(center center, #7f7f7f, #7f7f7f 2px, transparent 2px, transparent 100%);
    -webkit-background-size: 18px 18px;
            background-size: 18px 18px;
    z-index: -1; }
  .for-who__wrap-bg:after {
    content: "";
    position: absolute;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    width: 635px;
    height: 635px;
    background-image: -webkit-repeating-radial-gradient(center center, #7f7f7f, #7f7f7f 2px, transparent 2px, transparent 100%);
    background-image: -o-repeating-radial-gradient(center center, #7f7f7f, #7f7f7f 2px, transparent 2px, transparent 100%);
    background-image: repeating-radial-gradient(center center, #7f7f7f, #7f7f7f 2px, transparent 2px, transparent 100%);
    -webkit-background-size: 18px 18px;
            background-size: 18px 18px;
    z-index: -1;
    bottom: -212px;
    right: -557px; }
  .for-who__title {
    font-family: "ProximaNova-Light", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 32px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 7px;
    position: relative;
    margin: 0 0 90px 0; }
    .for-who__title:before {
      content: "";
      position: absolute;
      bottom: -15px;
      left: 0;
      width: 80px;
      height: 3px;
      background-color: #ffec00; }
  .for-who__item {
    padding-top: 5px;
    padding-bottom: 75px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    border-top: 8px solid transparent; }
    .for-who__item:before {
      display: block;
      min-height: 50px; }
    .for-who__item:hover {
      background: #fff;
      border-top: 8px solid #ffec00;
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1);
      position: relative;
      z-index: 1;
      -webkit-box-shadow: 0 14px 35px rgba(88, 54, 126, 0.09);
              box-shadow: 0 14px 35px rgba(88, 54, 126, 0.09); }
  .for-who__item-title {
    font-family: "ProximaNova-Bold", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 19px;
    font-weight: 700;
    line-height: 20px;
    margin-top: 25px; }
  .for-who__item-description {
    margin-top: 15px;
    color: #9e9e9e;
    font-size: 17px;
    font-weight: 400;
    line-height: 32px; }

.for-who__wrap .col-lg-3:nth-child(2):before {
  content: "";
  display: block;
  background-image: url(../img/sprite.png);
  background-position: 0px -144px;
  width: 41px;
  height: 38px; }

.for-who__wrap .col-lg-3:nth-child(3):before {
  content: "";
  display: block;
  background-image: url(../img/sprite.png);
  background-position: -121px -144px;
  width: 40px;
  height: 36px; }

.for-who__wrap .col-lg-3:nth-child(4):before {
  content: "";
  display: block;
  background-image: url(../img/sprite.png);
  background-position: -144px 0px;
  width: 40px;
  height: 40px; }

.for-who__wrap .col-lg-3:nth-child(5):before {
  content: "";
  display: block;
  background-image: url(../img/sprite.png);
  background-position: -144px -60px;
  width: 38px;
  height: 42px; }

.for-who__wrap .col-lg-3:nth-child(6):before {
  content: "";
  display: block;
  background-image: url(../img/sprite.png);
  background-position: -204px -120px;
  width: 35px;
  height: 41px; }

.for-who__wrap .col-lg-3:nth-child(7):before {
  content: "";
  display: block;
  background-image: url(../img/sprite.png);
  background-position: -61px -144px;
  width: 40px;
  height: 36px; }

.for-who__wrap .col-lg-3:nth-child(8):before {
  content: "";
  display: block;
  background-image: url(../img/sprite.png);
  background-position: -204px -60px;
  width: 36px;
  height: 40px; }

.for-who__wrap .col-lg-3:nth-child(9):before {
  content: "";
  display: block;
  background-image: url(../img/sprite.png);
  background-position: -204px 0px;
  width: 36px;
  height: 40px; }

.for-who__wrap .col-lg-3:before {
  min-height: 42px; }

.after-study {
  padding: 100px 0 150px 0;
  background: url("../img/after_training_bg.png") no-repeat left 80%; }
  .after-study__title {
    font-family: "ProximaNova-Light", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 32px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 7px;
    position: relative;
    margin-bottom: 90px; }
    .after-study__title:before {
      content: "";
      position: absolute;
      bottom: -15px;
      left: 0;
      width: 80px;
      height: 3px;
      background-color: #ffec00; }
  .after-study__bg {
    height: 400px; }
  .after-study__advantages-title {
    font-family: "ProximaNova-Bold", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 19px; }
  .after-study__advantages-list li + li {
    margin-top: 14px; }
  .after-study__advantages-list p {
    margin-left: 25px;
    font-size: 17px;
    color: #949494;
    display: inline; }
  .after-study__advantages-list span {
    font-family: "ProximaNova-Bold", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    border: 1px solid #ebebeb;
    display: inline-block;
    width: 36px;
    height: 36px;
    position: relative;
    text-align: center;
    line-height: 2.2; }
    .after-study__advantages-list span:after {
      content: "";
      right: -5px;
      top: 11px;
      width: 10px;
      height: 10px;
      background-color: #ffec00;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      position: absolute; }

.our-programs {
  padding: 200px 0 200px 0; }
  .our-programs__title {
    font-family: "ProximaNova-Light", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 32px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 7px;
    position: relative; }
    .our-programs__title:before {
      content: "";
      position: absolute;
      bottom: -15px;
      left: 0;
      width: 80px;
      height: 3px;
      background-color: #ffec00; }
  .our-programs__tabs {
    margin-top: 50px; }
  .our-programs .nav-tabs {
    border-bottom: 2px solid #ededed; }
    .our-programs .nav-tabs li + li {
      margin-left: 80px; }
  .our-programs .nav-tabs > li.active > a {
    border-bottom: 2px solid #000; }
  .our-programs .nav > li > a {
    border: 2px solid transparent;
    padding: 0 0 10px 0; }
  .our-programs .nav > li > a:hover {
    background: #fff; }
  .our-programs .nav-tabs > li > a:hover {
    border-color: transparent transparent #000; }
  .our-programs .nav-tabs > li.active > a:focus, .our-programs .nav-tabs > li.active > a:hover {
    border: 2px solid #000;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent; }
  .our-programs .nav-tabs {
    font-size: 14px;
    font-family: "ProximaNova-Bold", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase; }
    .our-programs .nav-tabs a {
      -webkit-transition: color, border .3s;
      -o-transition: color, border .3s;
      transition: color, border .3s;
      color: #b3b3b3; }
      .our-programs .nav-tabs a:hover {
        color: #000; }
  .our-programs__pogram_wrap {
    margin-top: 60px;
    border: 1px solid #f0f0f0;
    padding: 60px 40px 40px 40px;
    background: #fff; }
  .our-programs__pogram {
    padding-bottom: 60px;
    border-bottom: 2px solid #f0f0f0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative; }
  .our-programs__date-day {
    display: block;
    color: #fff;
    text-align: center;
    font-size: 22px;
    line-height: 2.7;
    width: 60px;
    height: 60px;
    background-color: #565656;
    -webkit-border-radius: 50%;
            border-radius: 50%; }
  .our-programs__date-month {
    display: block;
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase; }
  .our-programs__name {
    margin-left: 40px; }
  .our-programs__name-course {
    font-family: "ProximaNova-Bold", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #000;
    font-size: 30px;
    line-height: 1.2; }
  .our-programs__type {
    font-size: 14px;
    color: #b0b0b0;
    position: relative;
    margin-left: 10px; }
    .our-programs__type:before {
      position: absolute;
      left: -11px;
      top: 7px;
      display: block;
      content: "";
      width: 6px;
      height: 6px;
      -webkit-border-radius: 50%;
              border-radius: 50%; }
    .our-programs__type + .our-programs__type {
      margin-left: 25px; }
  .our-programs__type_online:before {
    background-color: #ffec00; }
  .our-programs__type_offline:before {
    background-color: #eee; }
  .our-programs__bg {
    position: absolute;
    bottom: -70px;
    right: 20px; }
  .our-programs__contract {
    margin-top: 55px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .our-programs__info {
    display: inline-block;
    font-family: "ProximaNova-Bold", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; }
    .our-programs__info + .our-programs__info {
      margin-left: 20px; }
  .our-programs__conditions {
    font-family: "ProximaNova-Regular", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin-left: 5px; }
  .our-programs__date-day_soon {
    font-size: 12px;
    text-transform: uppercase;
    line-height: 5; }
  .our-programs__notify {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 55px; }
  .our-programs__notify-me {
    border-bottom: 2px solid #ffec00;
    display: inline-block;
    position: relative;
    margin-left: 30px;
    font-family: "ProximaNova-Bold", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; }
    .our-programs__notify-me i {
      color: #7f7f7f;
      position: absolute;
      left: -30px;
      top: 6px; }
  .our-programs .button__type_3 {
    margin: 50px auto 0; }
  .our-programs__tabs-show-more {
    text-align: center; }

.course-designer {
  padding: 200px 0 100px 0;
  position: relative; }
  .course-designer:before {
    content: "";
    position: absolute;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    width: 635px;
    height: 635px;
    background-image: -webkit-repeating-radial-gradient(center center, #7f7f7f, #7f7f7f 2px, transparent 2px, transparent 100%);
    background-image: -o-repeating-radial-gradient(center center, #7f7f7f, #7f7f7f 2px, transparent 2px, transparent 100%);
    background-image: repeating-radial-gradient(center center, #7f7f7f, #7f7f7f 2px, transparent 2px, transparent 100%);
    -webkit-background-size: 18px 18px;
            background-size: 18px 18px;
    z-index: -1;
    left: -375px;
    top: -327px; }
  .course-designer:after {
    content: "";
    position: absolute;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    width: 635px;
    height: 635px;
    background-image: -webkit-repeating-radial-gradient(center center, #7f7f7f, #7f7f7f 2px, transparent 2px, transparent 100%);
    background-image: -o-repeating-radial-gradient(center center, #7f7f7f, #7f7f7f 2px, transparent 2px, transparent 100%);
    background-image: repeating-radial-gradient(center center, #7f7f7f, #7f7f7f 2px, transparent 2px, transparent 100%);
    -webkit-background-size: 18px 18px;
            background-size: 18px 18px;
    z-index: -1;
    right: -375px;
    bottom: -220px; }
  .course-designer__title {
    font-family: "ProximaNova-Light", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 32px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 7px;
    position: relative; }
    .course-designer__title:before {
      content: "";
      position: absolute;
      bottom: -15px;
      left: 0;
      width: 80px;
      height: 3px;
      background-color: #ffec00; }
  .course-designer__manual {
    margin-top: 55px;
    font-size: 20px;
    color: #6f6f6f; }
  .course-designer__courses-name {
    color: #9e9e9e;
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 38px; }
  .course-designer__cours-name {
    display: block;
    position: relative;
    color: #9e9e9e;
    cursor: pointer;
    margin-left: 68px; }
    .course-designer__cours-name input {
      visibility: hidden; }
    .course-designer__cours-name label {
      width: 22px;
      height: 22px;
      cursor: pointer;
      position: absolute;
      left: -44px;
      top: 4px;
      border: 2px solid #d3d3d3;
      background: #fff;
      -webkit-border-radius: 50px;
              border-radius: 50px;
      -webkit-transition: border .3s;
      -o-transition: border .3s;
      transition: border .3s; }
      .course-designer__cours-name label:after {
        content: '';
        width: 8px;
        height: 8px;
        position: absolute;
        top: 5px;
        left: 5px;
        background: #6f6f6f;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        -webkit-border-radius: 50px;
                border-radius: 50px; }
        .course-designer__cours-name label:after:hover::after {
          opacity: 0.3; }
    .course-designer__cours-name + .course-designer__cours-name {
      margin-top: 25px; }
  .course-designer .course-designer__cours-name_selected {
    font-family: "ProximaNova-Semibold", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #000; }
    .course-designer .course-designer__cours-name_selected label {
      border: 2px solid #ffec00; }
      .course-designer .course-designer__cours-name_selected label:after {
        background: #000; }
  .course-designer__items-wrap {
    min-height: 230px;
    border-left: 4px solid #c0c0c0; }
    .course-designer__items-wrap li + li {
      margin-top: 7px; }
  .course-designer__items-chosed {
    background: #fff;
    margin-top: 100px;
    padding: 10px 60px 60px 60px;
    -webkit-box-shadow: 0 14px 35px rgba(88, 54, 126, 0.09);
            box-shadow: 0 14px 35px rgba(88, 54, 126, 0.09); }
  .course-designer__courses-finish {
    font-size: 24px;
    color: #000; }
  .course-designer__courses-chosed {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "ProximaNova-Bold", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 19px; }
  .course-designer__items-wrap {
    color: #c2c2c2; }
    .course-designer__items-wrap i {
      font-size: 10px; }
      .course-designer__items-wrap i:before {
        margin: 0 20px; }
    .course-designer__items-wrap span {
      font-size: 17px; }
  .course-designer__form-contacts {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 80px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .course-designer__form-contacts .intermediate_item input {
      padding: 16px 48px 16px 40px;
      border: 1px solid #616161;
      -webkit-border-radius: 30px;
              border-radius: 30px;
      cursor: pointer; }
      .course-designer__form-contacts .intermediate_item input:focus {
        border: 1px solid #000; }
    .course-designer__form-contacts .intermediate_item input[type="submit"] {
      width: 264px;
      text-align: center;
      border: none;
      background: #ffec00;
      font-family: "ProximaNova-Bold", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
      text-transform: uppercase; }

.why-created {
  position: relative;
  padding: 100px 0 80px 0; }
  .why-created:before {
    content: "";
    position: absolute;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: -124px;
    width: 250px;
    height: 250px;
    background-image: -webkit-repeating-radial-gradient(center center, #7f7f7f, #7f7f7f 2px, transparent 2px, transparent 100%);
    background-image: -o-repeating-radial-gradient(center center, #7f7f7f, #7f7f7f 2px, transparent 2px, transparent 100%);
    background-image: repeating-radial-gradient(center center, #7f7f7f, #7f7f7f 2px, transparent 2px, transparent 100%);
    -webkit-background-size: 18px 18px;
            background-size: 18px 18px;
    z-index: -1;
    top: 70px; }
  .why-created__wrap {
    background-color: #fff; }
  .why-created__title {
    font-family: "ProximaNova-Light", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 32px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 7px;
    position: relative;
    margin-bottom: 55px; }
    .why-created__title:before {
      content: "";
      position: absolute;
      bottom: -15px;
      left: 0;
      width: 80px;
      height: 3px;
      background-color: #ffec00; }
  .why-created__description {
    font-size: 20px;
    font-family: "ProximaNova-LightIt", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #6f6f6f; }
    .why-created__description span {
      font-family: "ProximaNova-Light", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; }
    .why-created__description strong {
      margin-left: 5px;
      color: #000;
      font-family: "ProximaNova-Bold", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; }
  .why-created__description_default {
    margin-top: 35px;
    font-size: 20px;
    color: #6f6f6f; }

.video {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-background-size: cover;
          background-size: cover;
  position: relative;
  height: 730px; }
  .video .video__bg {
    background: url("../img/video_bg.jpg") no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
    .video .video__bg:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.7); }
  .video__play-pause {
    z-index: 1;
    position: absolute;
    top: -webkit-calc(50% - 70px);
    top: calc(50% - 70px);
    left: -webkit-calc(50% - 70px);
    left: calc(50% - 70px);
    background: transparent;
    background-image: url(../img/sprite.png);
    background-position: 0px 0px;
    width: 124px;
    height: 124px;
    display: inline-block;
    cursor: pointer; }

.our-goal {
  position: relative;
  padding: 200px 0 25px 0; }
  .our-goal:before {
    content: "";
    position: absolute;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    width: 635px;
    height: 635px;
    background-image: -webkit-repeating-radial-gradient(center center, #7f7f7f, #7f7f7f 2px, transparent 2px, transparent 100%);
    background-image: -o-repeating-radial-gradient(center center, #7f7f7f, #7f7f7f 2px, transparent 2px, transparent 100%);
    background-image: repeating-radial-gradient(center center, #7f7f7f, #7f7f7f 2px, transparent 2px, transparent 100%);
    -webkit-background-size: 18px 18px;
            background-size: 18px 18px;
    z-index: -1;
    left: -390px;
    top: -45px; }
  .our-goal__wrap {
    background-color: #fff;
    font-size: 20px; }
    .our-goal__wrap strong {
      font-family: "ProximaNova-Bold", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; }
  .our-goal__title {
    font-family: "ProximaNova-Light", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 32px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 7px;
    position: relative;
    margin-bottom: 65px; }
    .our-goal__title:before {
      content: "";
      position: absolute;
      bottom: -15px;
      left: 0;
      width: 80px;
      height: 3px;
      background-color: #ffec00; }
  .our-goal__main-goal {
    display: inline;
    font-family: "ProximaNova-Light", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; }

.world-leaders {
  padding: 25px 0 185px 0; }

.teachers {
  padding: 185px 0 200px 0; }
  .teachers__title {
    margin-bottom: 80px;
    font-family: "ProximaNova-Light", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 32px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 7px;
    position: relative; }
    .teachers__title:before {
      content: "";
      position: absolute;
      bottom: -15px;
      left: 0;
      width: 80px;
      height: 3px;
      background-color: #ffec00; }
  .teachers__item {
    position: relative;
    display: inline-block; }
  .teachers__social_wrap {
    position: absolute;
    top: 32px;
    left: 32px; }
  .teachers__social {
    font-size: 20px;
    color: #8e8e8e;
    -webkit-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s; }
    .teachers__social + .teachers__social {
      margin-left: 25px; }
    .teachers__social:hover {
      cursor: pointer;
      color: #000; }
  .teachers__name {
    margin-top: 35px;
    font-size: 24px;
    font-family: "ProximaNova-Bold", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; }
  .teachers__position {
    margin-top: 15px;
    font-size: 17px;
    color: #6f6f6f; }
  .teachers .owl-theme .owl-dots .owl-dot.active span, .teachers .owl-theme .owl-dots .owl-dot:hover span {
    background: #ffec00; }

.reviews {
  padding: 200px 0 200px 0;
  position: relative; }
  .reviews:before {
    content: "";
    position: absolute;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: -124px;
    width: 250px;
    height: 250px;
    background-image: -webkit-repeating-radial-gradient(center center, #7f7f7f, #7f7f7f 2px, transparent 2px, transparent 100%);
    background-image: -o-repeating-radial-gradient(center center, #7f7f7f, #7f7f7f 2px, transparent 2px, transparent 100%);
    background-image: repeating-radial-gradient(center center, #7f7f7f, #7f7f7f 2px, transparent 2px, transparent 100%);
    -webkit-background-size: 18px 18px;
            background-size: 18px 18px;
    z-index: -1;
    top: 70px;
    right: -100px; }
  .reviews:after {
    content: "";
    position: absolute;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    width: 635px;
    height: 635px;
    background-image: -webkit-repeating-radial-gradient(center center, #7f7f7f, #7f7f7f 2px, transparent 2px, transparent 100%);
    background-image: -o-repeating-radial-gradient(center center, #7f7f7f, #7f7f7f 2px, transparent 2px, transparent 100%);
    background-image: repeating-radial-gradient(center center, #7f7f7f, #7f7f7f 2px, transparent 2px, transparent 100%);
    -webkit-background-size: 18px 18px;
            background-size: 18px 18px;
    z-index: -1;
    bottom: 0;
    left: -445px; }
  .reviews__wrap {
    padding-bottom: 40px; }
  .reviews .container {
    background: #fff; }
  .reviews__wrap {
    background: #fff; }
  .reviews__title {
    font-family: "ProximaNova-Light", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 32px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 7px;
    position: relative;
    margin-bottom: 155px; }
    .reviews__title:before {
      content: "";
      position: absolute;
      bottom: -15px;
      left: 0;
      width: 80px;
      height: 3px;
      background-color: #ffec00; }
  .reviews__photo {
    width: 142px;
    height: 142px;
    position: relative; }
  .reviews__photo_wrap {
    position: relative; }
    .reviews__photo_wrap:after {
      content: "";
      display: block;
      position: absolute;
      top: 47px;
      z-index: -1;
      right: -40px;
      width: 87px;
      height: 87px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #ffec00), to(#fff9b2));
      background-image: -webkit-linear-gradient(top, #ffec00 40%, #fff9b2 100%);
      background-image: -o-linear-gradient(top, #ffec00 40%, #fff9b2 100%);
      background-image: linear-gradient(to bottom, #ffec00 40%, #fff9b2 100%); }
  .reviews__item {
    padding: 70px 20px 130px 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: 0 14px 35px rgba(88, 54, 126, 0.09);
            box-shadow: 0 14px 35px rgba(88, 54, 126, 0.09); }
  .reviews__autor {
    margin: 35px 0 10px 0;
    font-family: "ProximaNova-Bold", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 19px; }
  .reviews__age {
    margin-bottom: 45px;
    font-size: 15px;
    color: #a7a7a7; }
  .reviews__text {
    color: #6f6f6f;
    font-size: 17px;
    line-height: 32px;
    font-family: "ProximaNova-LightIt", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; }
  .reviews .owl-theme .owl-dots .owl-dot.active span, .reviews .owl-theme .owl-dots .owl-dot:hover span {
    background: #ffec00; }

.news {
  background-color: #fbfbfb;
  padding: 200px 0 200px 0; }
  .news__photo {
    width: 100%;
    height: auto; }
  .news__date {
    margin: 25px 0 25px 0;
    display: block;
    color: #727272; }
  .news__section-title {
    font-family: "ProximaNova-Light", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 32px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 7px;
    position: relative;
    margin-bottom: 110px; }
    .news__section-title:before {
      content: "";
      position: absolute;
      bottom: -15px;
      left: 0;
      width: 80px;
      height: 3px;
      background-color: #ffec00; }
  .news__title {
    display: block;
    color: #000;
    font-family: "ProximaNova-Bold", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 24px;
    line-height: 32px;
    border-bottom: 3px solid transparent;
    -webkit-transition: border-bottom .3s;
    -o-transition: border-bottom .3s;
    transition: border-bottom .3s; }
    .news__title:hover {
      border-bottom: 3px solid #ffec00; }
  .news__description {
    margin-top: 20px;
    color: #727272; }
  .news .button__type_2 {
    background-color: transparent;
    border: 1px solid #d1d1d1;
    display: block;
    margin: 70px auto 0; }
    .news .button__type_2:hover {
      -webkit-box-shadow: none;
              box-shadow: none; }

.contacts {
  background: #fff;
  padding: 200px 0 175px 0; }
  .contacts__title {
    margin-bottom: 120px; }
  .contacts__detals-wrap {
    padding: 65px 0 180px 0;
    position: relative;
    background: #fff;
    z-index: 1; }
    .contacts__detals-wrap:before {
      content: "";
      position: absolute;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
      top: -124px;
      width: 250px;
      height: 250px;
      background-image: -webkit-repeating-radial-gradient(center center, #7f7f7f, #7f7f7f 2px, transparent 2px, transparent 100%);
      background-image: -o-repeating-radial-gradient(center center, #7f7f7f, #7f7f7f 2px, transparent 2px, transparent 100%);
      background-image: repeating-radial-gradient(center center, #7f7f7f, #7f7f7f 2px, transparent 2px, transparent 100%);
      -webkit-background-size: 18px 18px;
              background-size: 18px 18px;
      z-index: -1;
      top: -60px;
      left: -370px; }
    .contacts__detals-wrap:after {
      display: block;
      width: 400px;
      height: 288px;
      content: "";
      position: absolute;
      right: 0;
      z-index: 0;
      top: 0;
      background: url("../img/contacts_bg.png") no-repeat top right; }
    .contacts__detals-wrap ul {
      position: relative;
      z-index: 999; }
  .contacts__detals-title {
    font-size: 19px;
    font-family: "ProximaNova-Bold", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin-bottom: 25px; }
  .contacts__detals-info, .contacts a {
    font-size: 17px;
    color: #6f6f6f;
    line-height: 2; }
    .contacts__detals-info a + a, .contacts a a + a {
      margin-left: 5px; }

.footer {
  padding: 80px 0 70px;
  position: relative; }
  .footer__links {
    font-family: "ProximaNova-Semibold", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 17px;
    line-height: 48px; }
    .footer__links a {
      color: #c3c3c3;
      -webkit-transition: color .3s;
      -o-transition: color .3s;
      transition: color .3s; }
    .footer__links li:hover a {
      color: #000; }
  .footer__subscribe-news {
    position: relative; }
  .footer__subscribe-news span {
    font-size: 24px;
    color: #999;
    line-height: 64px; }
  .footer__form-wrap {
    position: relative; }
  .footer .intermediate_item {
    position: relative; }
  .footer .intermediate_item input[type="text"] {
    width: 100%;
    border: 1px solid #e8e8e8;
    padding: 19px 0 19px 35px;
    -webkit-border-radius: 30px;
            border-radius: 30px;
    font-size: 12px;
    color: #c2c2c2; }
  .footer .intermediate_item input[type="submit"] {
    padding: 19px 35px 18px 35px;
    position: absolute;
    top: 0;
    right: 0; }
  .footer .input_wrap i {
    top: 21px;
    right: 190px; }
  .footer__scroll-top {
    position: absolute;
    right: 0;
    top: 110px;
    color: #999999;
    text-transform: uppercase;
    padding-right: 40px;
    font-size: 11px;
    -webkit-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s;
    z-index: 999; }
    .footer__scroll-top i {
      position: absolute;
      top: 0;
      left: -30px;
      font-size: 17px; }
  .footer__copyright {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 12px;
    margin-top: 50px; }
    .footer__copyright a {
      color: #b8b7b7;
      -webkit-transition: color .3s;
      -o-transition: color .3s;
      transition: color .3s; }
      .footer__copyright a:hover {
        color: #727272; }
  .footer__social {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 18px;
    color: #b8b7b7; }
    .footer__social li + li {
      margin-left: 20px; }

.next-course {
  padding: 140px 70px 0 70px;
  height: -webkit-calc(100vh - 107px);
  height: calc(100vh - 107px);
  background: url(../img/next-course_bg.png) no-repeat 100% center;
  position: relative; }
  .next-course:after {
    content: "";
    position: absolute;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: -124px;
    width: 250px;
    height: 250px;
    background-image: -webkit-repeating-radial-gradient(center center, #7f7f7f, #7f7f7f 2px, transparent 2px, transparent 100%);
    background-image: -o-repeating-radial-gradient(center center, #7f7f7f, #7f7f7f 2px, transparent 2px, transparent 100%);
    background-image: repeating-radial-gradient(center center, #7f7f7f, #7f7f7f 2px, transparent 2px, transparent 100%);
    -webkit-background-size: 18px 18px;
            background-size: 18px 18px;
    z-index: -1;
    right: -200px;
    top: -webkit-calc(50% - 150px);
    top: calc(50% - 150px); }
  .next-course__content {
    position: absolute;
    top: -webkit-calc(50% - 236px);
    top: calc(50% - 236px);
    width: 50%; }
  .next-course__begin {
    font-size: 22px; }
  .next-course__begin-date {
    font-family: "ProximaNova-Semibold", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #000;
    margin-left: 5px; }
  .next-course__info {
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px; }
    .next-course__info li:nth-child(1):before {
      background-image: url(../img/sprite.png);
      background-position: -80px -202px;
      width: 20px;
      height: 18px; }
    .next-course__info li:nth-child(2):before {
      background-image: url(../img/sprite.png);
      background-position: 0px -202px;
      width: 20px;
      height: 24px; }
    .next-course__info li:nth-child(3):before {
      background-image: url(../img/sprite.png);
      background-position: -40px -202px;
      width: 20px;
      height: 20px; }
    .next-course__info li:nth-child(4):before {
      background-image: url(../img/sprite.png);
      background-position: -260px 0px;
      width: 9px;
      height: 20px; }
    .next-course__info li {
      display: inline-block;
      position: relative;
      margin-left: 40px;
      font-family: "ProximaNova-Semibold", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
      font-size: 15px; }
      .next-course__info li:before {
        content: "";
        display: block;
        position: absolute;
        left: -30px;
        top: 4px; }

.what-get {
  padding: 250px 0 190px;
  background: url("../img/what_you_get_bg.png") #fbfbfb no-repeat center;
  position: relative; }
  .what-get:before {
    position: absolute;
    content: "";
    position: absolute;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: -124px;
    width: 250px;
    height: 250px;
    background-image: -webkit-repeating-radial-gradient(center center, #7f7f7f, #7f7f7f 2px, transparent 2px, transparent 100%);
    background-image: -o-repeating-radial-gradient(center center, #7f7f7f, #7f7f7f 2px, transparent 2px, transparent 100%);
    background-image: repeating-radial-gradient(center center, #7f7f7f, #7f7f7f 2px, transparent 2px, transparent 100%);
    -webkit-background-size: 18px 18px;
            background-size: 18px 18px;
    z-index: -1;
    top: 163px;
    left: -75px;
    z-index: 0; }
  .what-get__title {
    position: relative;
    margin-bottom: 60px; }
    .what-get__title:before {
      content: "";
      position: absolute;
      bottom: -15px;
      left: 0;
      width: 80px;
      height: 3px;
      background-color: #ffec00; }
  .what-get__advantages-list span {
    font-family: "ProximaNova-Bold", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    border: 1px solid #ebebeb;
    display: inline-block;
    width: 36px;
    height: 36px;
    position: relative;
    text-align: center;
    line-height: 2.2; }
    .what-get__advantages-list span:after {
      content: "";
      right: -5px;
      top: 11px;
      width: 10px;
      height: 10px;
      background-color: #ffec00;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      position: absolute; }
  .what-get__advantages-list_mt {
    padding-top: 50px; }

.about-course {
  padding: 190px 0 210px 0;
  background-color: #fff;
  position: relative;
  z-index: 0;
  overflow: hidden; }
  .about-course:before {
    content: "";
    position: absolute;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    width: 635px;
    height: 635px;
    background-image: -webkit-repeating-radial-gradient(center center, #7f7f7f, #7f7f7f 2px, transparent 2px, transparent 100%);
    background-image: -o-repeating-radial-gradient(center center, #7f7f7f, #7f7f7f 2px, transparent 2px, transparent 100%);
    background-image: repeating-radial-gradient(center center, #7f7f7f, #7f7f7f 2px, transparent 2px, transparent 100%);
    -webkit-background-size: 18px 18px;
            background-size: 18px 18px;
    z-index: -1;
    bottom: 25%;
    left: -10%; }
  .about-course:after {
    content: "";
    position: absolute;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    width: 635px;
    height: 635px;
    background-image: -webkit-repeating-radial-gradient(center center, #7f7f7f, #7f7f7f 2px, transparent 2px, transparent 100%);
    background-image: -o-repeating-radial-gradient(center center, #7f7f7f, #7f7f7f 2px, transparent 2px, transparent 100%);
    background-image: repeating-radial-gradient(center center, #7f7f7f, #7f7f7f 2px, transparent 2px, transparent 100%);
    -webkit-background-size: 18px 18px;
            background-size: 18px 18px;
    z-index: -1;
    top: -250px;
    right: -300px; }
  .about-course__title {
    position: relative;
    margin-bottom: 170px; }
    .about-course__title:before {
      content: "";
      position: absolute;
      bottom: -15px;
      left: 0;
      width: 80px;
      height: 3px;
      background-color: #ffec00; }
  .about-course__description {
    font-family: "ProximaNova-Light", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 20px;
    line-height: 32px;
    color: #6f6f6f; }
  .about-course .video {
    margin: 70px 0 75px 0; }
  .about-course__description_accent {
    color: #000;
    font-family: "ProximaNova-Bold", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 20px; }
  .about-course .about-course__description {
    margin-top: 0; }

@media only screen and (max-width: 1199px) {
  /**/
  .header__wrap {
    padding: 0 45px; }
  .header__nav {
    margin-left: 50px; }
    .header__nav ul li + li {
      margin-left: 30px; }
  .header___dropdown-language {
    margin-right: 20px; }
  .for-who {
    padding: 20px 0 2px 0; }
  .for-who__wrap {
    padding: 50px 0 45px 0; }
  .for-who__wrap-bg:before, .for-who__wrap-bg:after {
    display: none; }
  .after-study {
    padding: 35px 0 50px 0;
    background-position: -50% 80%; }
  .our-programs {
    padding: 50px 0 50px 0; }
    .our-programs__title {
      margin-bottom: 30px; }
    .our-programs__bg {
      display: none; }
  .our-programs__contract, .our-programs__notify {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .our-programs__contract .button__type_2, .our-programs__notify .button__type_2 {
      margin-top: 15px; }
  .course-designer {
    padding: 0 0 50px 0; }
    .course-designer:before, .course-designer:after {
      display: none; }
    .course-designer__cours-name {
      margin-left: 30px; }
      .course-designer__cours-name label {
        left: -28px;
        top: 3px; }
    .course-designer__items-wrap i:before {
      margin: 0; }
    .course-designer__items-chosed {
      padding: 0 0 10px 5px; }
    .course-designer__items-wrap ul {
      margin-left: 10px; }
    .course-designer__form-contacts .intermediate_item input {
      padding: 16px 0px 16px 26px; }
    .course-designer__form-contacts .intermediate_item input[type="submit"] {
      width: 202px;
      padding: 16px 0px 16px 0; }
  .why-created {
    padding: 50px 0 40px 0; }
    .why-created:before {
      display: none; }
  .our-goal {
    padding: 100px 0 25px 0; }
    .our-goal:before {
      display: none; }
  .reviews:before, .reviews:after {
    display: none; }
  .news {
    padding: 50px 0 50px 0; }
  .contacts {
    padding: 50px 0 35px 0; }
  .next-course {
    padding: 140px 15px 0 15px; }
    .next-course__content {
      width: 80%; }
  .what-get {
    padding: 60px 0 45px; }
    .what-get:before {
      display: none; }
  .about-course {
    padding: 45px 0 50px 0; }
    .about-course:before, .about-course:after {
      display: none; }
    .about-course__title {
      margin-bottom: 35px; } }

@media only screen and (max-width: 991px) {
  /**/
  .hamburger {
    display: block; }
  .header {
    padding: 5px 0; }
    .header__wrap {
      padding: 0 65px; }
    .header__nav {
      display: none; }
  .top-section {
    height: -webkit-calc(100vh - 0px);
    height: calc(100vh - 0px); }
  .after-study {
    background: none; }
  .our-programs__info + .our-programs__info {
    margin-left: 0; }
  .course-designer__items-wrap span {
    font-size: 12px; }
  .course-designer__form-contacts .intermediate_item input {
    padding: 8px 0 8px 8px;
    width: 150px; }
  .course-designer__form-contacts .intermediate_item input[type="submit"] {
    padding: 8px 0 8px 0px;
    width: 150px; }
  .contacts__detals-info a {
    display: block; }
  .contacts__detals-info a + a {
    margin-left: 0; }
  .footer__links {
    font-size: 13px; }
  .footer__subscribe-news span {
    font-size: 20px; }
  .what-get .after-study__advantages-list p {
    font-size: 14px; }
  .what-get__advantages-list_mt {
    padding-top: 15px; } }

@media only screen and (max-width: 768px) {
  /**/
  .top-section {
    -webkit-background-size: cover;
            background-size: cover;
    background-position: center; }
  .header__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0; }
  .for-who__item {
    text-align: center; }
  .for-who__title {
    text-align: center; }
    .for-who__title:before {
      left: inherit; }
  .for-who__wrap .col-lg-3:before {
    margin: 0 auto; }
  .after-study__title {
    font-size: 18px; } }

@media only screen and (max-width: 520px) {
  /**/
  .top-section {
    padding: 0 15px 0 15px; }
    .top-section__content {
      width: 100%;
      top: -webkit-calc(50% - 288px);
      top: calc(50% - 288px);
      position: inherit; }
    .top-section__title {
      font-size: 38px; }
    .top-section__description {
      margin: 25px 0 50px 0; }
  .after-study__advantages-title {
    font-size: 17px; }
  .our-programs .nav-tabs li + li {
    margin-left: 20px; }
  .our-programs .nav-tabs {
    font-size: 12px; }
  .our-programs__pogram_wrap {
    padding: 30px 20px 20px 20px; }
  .our-programs__pogram {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
  .our-programs__name {
    margin: 0; }
  .our-programs__name-course {
    font-size: 20px; }
  .our-programs__pogram {
    padding-bottom: 0; }
  .our-programs__contract {
    margin-top: 25px; }
  .course-designer__courses-name {
    margin-bottom: 10px; }
  .course-designer__items-chosed {
    margin-top: 25px; }
  .course-designer__form-contacts {
    margin-top: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .course-designer__form-contacts .intermediate_item {
      margin-top: 25px; } }
