extends ../base
block title
    | Главная

block main
    main#my-content
        section.top-section
            .top-section__content
                h1.top-section__title Сообщество IT управленцев
                p.top-section__description Главная цель сообщества - обучить  IT правленцев которые будут создавать сильные команды и успешные проекты мирового уровня
                button.button Получить знания
        section.for-who
            .container
                .row
                    .for-who__wrap.clearfix
                        .for-who__wrap-bg
                            .col-lg-12
                                h2.for-who__title Для кого ?
                            .col-lg-3.col-md-3.col-sm-6
                                .for-who__item
                                    p.for-who__item-title Project manager
                                    p.for-who__item-description Для полного понимания процесса разработки и управления командой
                            .col-lg-3.col-md-3.col-sm-6
                                .for-who__item
                                    p.for-who__item-title Product managers
                                    p.for-who__item-description Для создания ценного продукта и продвижения его на рынке
                            .col-lg-3.col-md-3.col-sm-6
                                .for-who__item
                                    p.for-who__item-title Product owners
                                    p.for-who__item-description Для закрепления навыков и понимания тенденций в IT
                            .col-lg-3.col-md-3.col-sm-6
                                .for-who__item
                                    p.for-who__item-title Руководители
                                    p.for-who__item-description Для получения знаний в процессе разработки и эффективного продвижения продуктов в IT
                            .col-lg-3.col-md-3.col-sm-6
                                .for-who__item
                                    p.for-who__item-title IT-предприниматели
                                    p.for-who__item-description Для обучения управлению командой разработки и продвижения продукта в IT
                            .col-lg-3.col-md-3.col-sm-6
                                .for-who__item
                                    p.for-who__item-title Менеджеры
                                    p.for-who__item-description Для переквалификации менеджеров в IT сферу
                            .col-lg-3.col-md-3.col-sm-6
                                .for-who__item
                                    p.for-who__item-title IT-специалисты
                                    p.for-who__item-description Для специалистов в разработке, которые решили быть руководителями IT-проектов
                            .col-lg-3.col-md-3.col-sm-6
                                .for-who__item
                                    p.for-who__item-title Стартаперы и компании
                                    p.for-who__item-description Для воплощения в жизнь идеи в условиях полной неопределенности




        //section.intermediate
            .container
                .row
                    .intermediate_title
                        h3 Заполните форму и мы бесплатно перезвоним и ответим на ваши вопросы
                    .intermediate_wrap
                        form#form-file.clearfix
                            //.file_wrap
                                input(type='file' name='field')
                            .row
                                .intermediate_item
                                    .input_wrap
                                        i.fa.fa-check
                                        input(name='name', type='text', placeholder='Имя')
                                .intermediate_item
                                    .input_wrap
                                        i.fa.fa-check
                                        input(name='email', type='text', placeholder='Почта')
                                .intermediate_item
                                    .input_wrap
                                        i.fa.fa-check
                                        input(name='phone', type='text', placeholder='Телефон')
                                input(type='hidden', name='form_name', value='baseForm')
                                input(type='hidden', name='form_type', value='normal')
                                .intermediate_item
                                    input(type='submit', value='Записаться')