extends ../base
block title
    | Главная

block main
    main#my-content

        section.top-section#top-section
            .top-section__content
                h1.top-section__title Сообщество IT управленцев
                p.top-section__description Главная цель сообщества - обучить  IT правленцев которые будут создавать сильные команды и успешные проекты мирового уровня
                button.button Получить знания
                a(href="#popup-subscription" style="").notyfi.our-programs__notify-me test
        section.for-who#for-who
            .container
                .row
                    .for-who__wrap.clearfix
                        .for-who__wrap-bg
                            .col-lg-12
                                h2.for-who__title Для кого ?
                            a(href="#").col-lg-3.col-md-3.col-sm-6.for-who__item
                                p.for-who__item-title Project manager
                                p.for-who__item-description Для полного понимания процесса разработки и управления командой
                            a(href="#").col-lg-3.col-md-3.col-sm-6.for-who__item
                                p.for-who__item-title Product managers
                                p.for-who__item-description Для создания ценного продукта и продвижения его на рынке
                            a(href="#").col-lg-3.col-md-3.col-sm-6.for-who__item
                                p.for-who__item-title Product owners
                                p.for-who__item-description Для закрепления навыков и понимания тенденций в IT
                            a(href="#").col-lg-3.col-md-3.col-sm-6.for-who__item
                                p.for-who__item-title Руководители
                                p.for-who__item-description Для получения знаний в процессе разработки и эффективного продвижения продуктов в IT
                            a(href="#").col-lg-3.col-md-3.col-sm-6.for-who__item
                                p.for-who__item-title IT-предприниматели
                                p.for-who__item-description Для обучения управлению командой разработки и продвижения продукта в IT
                            a(href="#").col-lg-3.col-md-3.col-sm-6.for-who__item
                                p.for-who__item-title Менеджеры
                                p.for-who__item-description Для переквалификации менеджеров в IT сферу
                            a(href="#").col-lg-3.col-md-3.col-sm-6.for-who__item
                                p.for-who__item-title IT-специалисты
                                p.for-who__item-description Для специалистов в разработке, которые решили быть руководителями IT-проектов
                            a(href="#").col-lg-3.col-md-3.col-sm-6.for-who__item
                                p.for-who__item-title Стартаперы и компании
                                p.for-who__item-description Для воплощения в жизнь идеи в условиях полной неопределенности




        section.after-study#after-study
            .container
                .row
                    .col-md-12.col-sm-12
                        h2.after-study__title После обучения вы сможете
                    .col-lg-5.col-md-5.hidden-sm
                        div
                    .col-lg-7.col-md-7.col-sm-12
                        span.after-study__advantages-title Что вы сможете после обучения?
                        ul.after-study__advantages-list
                            li
                                span 01
                                p Стать профессионалом в своей предметной области
                            li
                                span 02
                                p Собрать и управлять командой разработки и продвижения
                            li
                                span 03
                                p Создавать, продвигать и продавать свои идеи
                            li
                                span 04
                                p Открыть свое успешное дело в IT
                            li
                                span 05
                                p Побеждать в перегеворах
                            li
                                span 06
                                p Проводить незабываемые презентации

        section.our-programs#our-programs
            .container
                .row
                    .col-sm-12
                        h2.our-programs__title Наши коуч-программы
                    .col-lg-12
                        .our-programs__tabs
                            ul.nav.nav-tabs
                                li.active
                                    a(href='#1', data-toggle='tab') Коуч программы
                                li
                                    a(href='#2', data-toggle='tab') Модули
                                li
                                    a(href='#3', data-toggle='tab') Тренинги

                    .tab-content
                        #1.tab-pane.active
                            .col-sm-6.col-xs-12
                                .our-programs__pogram_wrap
                                    .our-programs__pogram
                                        .our-programs__date
                                            span.our-programs__date-day 05
                                            span.our-programs__date-month Ноября
                                        .our-programs__name
                                            p.our-programs__name-course IT Project management
                                            span.our-programs__type.our-programs__type_online Online
                                        img(src="img/fingerprint.png").our-programs__bg
                                    .our-programs__contract
                                        ul
                                            li.our-programs__info Цена:
                                                span.our-programs__conditions 4000 грн\месяц
                                            li.our-programs__info   Дни:
                                                span.our-programs__conditions Вт, Чт
                                        button.button__type_2 К курсу

                            .col-sm-6.col-xs-12
                                .our-programs__pogram_wrap
                                    .our-programs__pogram
                                        .our-programs__date
                                            span.our-programs__date-day.our-programs__date-day_soon Скоро
                                            span.our-programs__date-month
                                        .our-programs__name
                                            p.our-programs__name-course Старт в IT Business community
                                            span.our-programs__type.our-programs__type_online Online
                                            span.our-programs__type.our-programs__type_offline offline
                                        img(src="img/rocket.png").our-programs__bg
                                    .our-programs__notify
                                        a(href="#notyfi").notyfi.our-programs__notify-me Уведомить меня о начале
                                            i.fa.fa-envelope-o
                                        a(href="#popup-course-description").button__type_2.notyfi.our-programs__notify-me К курсу
                            .our-programs__tabs-show-more
                                button.button__type_3 Больше курсов
                        #2.tab-pane
                            .col-sm-6.col-xs-12
                                .our-programs__pogram_wrap
                                    .our-programs__pogram
                                        .our-programs__date
                                            span.our-programs__date-day 05
                                            span.our-programs__date-month Ноября
                                        .our-programs__name
                                            p.our-programs__name-course IT Project management
                                            span.our-programs__type.our-programs__type_online Online
                                        img(src="img/fingerprint.png").our-programs__bg
                                    .our-programs__contract
                                        ul
                                            li.our-programs__info Цена:
                                                span.our-programs__conditions 4000 грн\месяц
                                            li.our-programs__info   Дни:
                                                span.our-programs__conditions Вт, Чт
                                        button.button__type_2 К курсу
                            .col-sm-6.col-xs-12
                                .our-programs__pogram_wrap
                                    .our-programs__pogram
                                        .our-programs__date
                                            span.our-programs__date-day.our-programs__date-day_soon Скоро
                                            span.our-programs__date-month
                                        .our-programs__name
                                            p.our-programs__name-course Старт в IT Business community
                                            span.our-programs__type.our-programs__type_online Online
                                            span.our-programs__type.our-programs__type_offline offline
                                        img(src="img/rocket.png").our-programs__bg
                                    .our-programs__notify
                                        a(href="").our-programs__notify-me Уведомить меня о начале
                                            i.fa.fa-envelope-o
                                        button.button__type_2 К курсу
                            .our-programs__tabs-show-more
                                button.button__type_3 Больше курсов
                        #3.tab-pane
                            .col-sm-6.col-xs-12
                                .our-programs__pogram_wrap
                                    .our-programs__pogram
                                        .our-programs__date
                                            span.our-programs__date-day 05
                                            span.our-programs__date-month Ноября
                                        .our-programs__name
                                            p.our-programs__name-course IT Project management
                                            span.our-programs__type.our-programs__type_online Online
                                        img(src="img/fingerprint.png").our-programs__bg
                                    .our-programs__contract
                                        ul
                                            li.our-programs__info Цена:
                                                span.our-programs__conditions 4000 грн\месяц
                                            li.our-programs__info   Дни:
                                                span.our-programs__conditions Вт, Чт
                                        button.button__type_2 К курсу
                            .col-sm-6.col-xs-12
                                .our-programs__pogram_wrap
                                    .our-programs__pogram
                                        .our-programs__date
                                            span.our-programs__date-day.our-programs__date-day_soon Скоро
                                            span.our-programs__date-month
                                        .our-programs__name
                                            p.our-programs__name-course Старт в IT Business community
                                            span.our-programs__type.our-programs__type_online Online
                                            span.our-programs__type.our-programs__type_offline offline
                                        img(src="img/rocket.png").our-programs__bg
                                    .our-programs__notify
                                        a(href="").our-programs__notify-me Уведомить меня о начале
                                            i.fa.fa-envelope-o
                                        button.button__type_2 К курсу
                            .our-programs__tabs-show-more
                                button.button__type_3 Больше курсов



        //section.course-designer#course-designer
            .container
                .row
                    .col-sm-12
                        h2.course-designer__title Конструктор курса
                .row
                    .col-lg-8
                        p.course-designer__manual Выбирите тип курса и его составляющие, для того что бы записаться и обучаться тому, чего хотите именно вы.
            .container
                form
                    .row
                        .course-designer__form.clearfix#form-file
                            .col-sm-4.col-xs-6
                                .course-designer__items
                                    p.course-designer__courses-name Название курса
                                    .course-designer__items-wrap
                                        span.course-designer__cours-name.course-designer__cours-name_selected Project Managment (Online)
                                            input(type="checkbox" value="Project Managment (Online)" id="managment-online")
                                            label(for="managment-online")
                                            i.fa.fa-long-arrow-right

                                        span.course-designer__cours-name Project Managment (Offline)
                                            input(type="checkbox" value="Project Managment (Offline)" id="managment-offline")
                                            label(for="managment-offline")
                                            i.fa.fa-long-arrow-right

                            .col-sm-4.col-xs-6
                                .course-designer__items
                                    p.course-designer__courses-name Название блока
                                    .course-designer__items-wrap
                                        span.course-designer__cours-name.course-designer__cours-name_selected Полный курс
                                            input(type="checkbox" value="Project Managment (Online)" id="full-course")
                                            label(for="full-course")

                                        span.course-designer__cours-name Управление проектами
                                            input(type="checkbox" value="Project Managment (Offline)" id="project-management")
                                            label(for="project-management")

                                        span.course-designer__cours-name Управление командой
                                                input(type="checkbox" value="Project Managment (Offline)" id="team-management")
                                                label(for="team-management")

                                        span.course-designer__cours-name Работа с клиентами
                                            input(type="checkbox" value="Project Managment (Offline)" id="work-with-clients")
                                            label(for="work-with-clients")

                                        span.course-designer__cours-name Маркетинг
                                            input(type="checkbox" value="Project Managment (Offline)" id="marketing")
                                            label(for="marketing")

                                        span.course-designer__cours-name Продажи
                                            input(type="checkbox" value="Project Managment (Offline)" id="sales")
                                            label(for="sales")
                            .col-xs-6.hidden-lg.hidden-md
                                .course-designer__items-chosed-adaptive
                                    p.course-designer__courses-finish-adaptive Вы выбрали курс:
                            .col-sm-4.col-xs-6
                                .course-designer__items-chosed
                                    p.course-designer__courses-finish Вы выбрали курс:
                                    p.course-designer__courses-chosed IT Project Managment (Online)
                                    .course-designer__items-wrap
                                        ul
                                            li
                                                i.fa.fa-check
                                                span Управление проектами
                                            li
                                                i.fa.fa-check
                                                span Управление командой
                                            li
                                                i.fa.fa-check
                                                span Работа с клиентами

                    .row
                        .col-lg-12
                            .course-designer__form-contacts
                                .intermediate_item
                                    .input_wrap
                                        i.fa.fa-check
                                        input(name='name', type='text', placeholder='ИМЯ ФАМИЛИЯ')
                                .intermediate_item
                                    .input_wrap
                                        i.fa.fa-check
                                        input(name='phone', type='text', placeholder='ТЕЛЕФОН').mask
                                .intermediate_item
                                    .input_wrap
                                        i.fa.fa-check
                                        input(name='email', type='text', placeholder='E-MAIL')
                                input(type='hidden', name='form_name', value='baseForm')
                                input(type='hidden', name='form_type', value='normal')
                                .intermediate_item
                                    input(type='submit', value='Записаться')
        section.course-designer#course-designer
            .container
                .row
                    .col-sm-12
                        h2.course-designer__title Конструктор курса
                .row
                    .col-lg-8
                        p.course-designer__manual Выбирите тип курса и его составляющие, для того что бы записаться и обучаться тому, чего хотите именно вы.
                        ul.course-designer__step
                            li.active 01
                            li 02
                            li 03
                            li 04
            .container
                form
                    .course-designer__items
                        .course-designer__builder
                            .course-designer__items-wrap#course-designer__name
                                p.course-designer__courses-name Название курса
                                .course-designer__scroll
                                    span.course-designer__cours-name Project Managment (Online)
                                        input(type="checkbox" value="Project Managment (Online)" id="managment-online")
                                        label(for="managment-online")
                                        i.fa.fa-long-arrow-right

                                    span.course-designer__cours-name Project Managment (Offline)
                                        input(type="checkbox" value="Project Managment (Offline)" id="managment-offline")
                                        label(for="managment-offline")
                                        i.fa.fa-long-arrow-right

                            .course-designer__items-wrap#course-designer__name-block
                                p.course-designer__courses-name Название блока
                                a(href="#")
                                    i.fa.fa-chevron-up
                                a(href="#")
                                    i.fa.fa-chevron-down
                                .course-designer__scroll
                                    span.course-designer__cours-name.course-designer__cours-name_selected.course-designer__cours-name_selected-all#course-designer__cours-name_selected-all Полный курс
                                        input(type="checkbox" value="Полный курс" id="full-course")
                                        label(for="full-course")

                                    span.course-designer__cours-name Управление проектами
                                        input(type="checkbox" value="Управление проектами" id="item 1")
                                        label(for="item 1")

                                    span.course-designer__cours-name Управление командой
                                        input(type="checkbox" value="Управление командой" id="item 2")
                                        label(for="item 2")

                                    span.course-designer__cours-name Работа с клиентами
                                        input(type="checkbox" value="Работа с клиентами" id="item 3")
                                        label(for="item 3")
                                    span.course-designer__cours-name Маркетинг
                                        input(type="checkbox" value="Маркетинг" id="item 4")
                                        label(for="item 4")
                                    span.course-designer__cours-name Маркетинг
                                        input(type="checkbox" value="Маркетинг" id="item 5")
                                        label(for="item 5")
                                    span.course-designer__cours-name Маркетинг
                                        input(type="checkbox" value="Маркетинг" id="item 6")
                                        label(for="item 6")
                                    span.course-designer__cours-name Маркетинг
                                        input(type="checkbox" value="Маркетинг" id="item 7")
                                        label(for="item 7")
                            .course-designer__items-wrap.course-designer__items-wrap_width
                                .course-designer__items-chosed
                                    .course-designer__text
                                        p.course-designer__courses-finish Вы выбрали курс:
                                        p.course-designer__courses-chosed IT Project Managment (Online)
                                    .course-designer__items-list
                                        a(href="#")
                                            i.fa.fa-chevron-up
                                        a(href="#")
                                            i.fa.fa-chevron-down
                                        ul
                                         //   li
                                                i.fa.fa-check
                                                span Управление проектами
                                        //    li
                                        //        i.fa.fa-check
                                        //        span Управление командой
                                        //    li
                                        //        i.fa.fa-check
                                        //        span Работа с клиентами
                                        //    li
                                        //        i.fa.fa-check
                                        //        span Работа с клиентами
                                        //    li
                                        //        i.fa.fa-check
                                        //        span Работа с клиентами

                .row
                    .col-lg-12.col-xs-12
                        .course-designer__form-contacts
                            .intermediate_item
                                .input_wrap
                                    i.fa.fa-check
                                    input(name='name', type='text', placeholder='ИМЯ ФАМИЛИЯ')
                            .intermediate_item
                                .input_wrap
                                    i.fa.fa-check
                                    input(name='phone', type='text', placeholder='ТЕЛЕФОН').mask
                            .intermediate_item
                                .input_wrap
                                    i.fa.fa-check
                                    input(name='email', type='text', placeholder='E-MAIL')
                            input(type='hidden', name='form_name', value='baseForm')
                            input(type='hidden', name='form_type', value='normal')
                            .intermediate_item
                                input(type='submit', value='Записаться')
        section.why-created
            .container
                .row
                    .col-sm-12.col-xs-12
                        .why-created__wrap
                            h2.why-created__title Почему создано сообщество?
                            p.why-created__description Илон Маск, Стив Джобс, Джефф Безос, Билл Гейтс, Марк Цукерберг, Ларри Пейдж и Сергей Грин, Джордж Сорос
                                span - это мировые лидеры мнений и технологий
                                strong являются IT-управленцами.
                            p.why-created__description_default Принцип восприятия непредвзято создает паллиативный интеллект, условно. Концепция ментально оспособляет закон внешнего мира. Сомнение раскладывает на элементы неоднозначный структурализм. Смысл жизни профанирует принцип восприятия, отрицая очевидное.

        section#video.video
            .video__bg
            video(src="video/video.mp4" width="100%" height="550")
            a.video__play-pause(type="button" id="play-pause")
        section.our-goal
            .container
                .row
                    .col-sm-12.col-xs-12
                        .our-goal__wrap
                            h2.our-goal__title Какая наша цель?
                            strong Наша главная цель
                            p.our-goal__main-goal  - обучить людей мыслить так же масштабно, ведь только при глобальном и системном мышлении идеи изменят мир. И наши студенты должны достигать таких результатов.
        section.world-leaders


        section.teachers#teachers
            .container
                .row
                    .col-sm-12.col-xs-12
                        h2.teachers__title Ведущие программы
                .row
                    #teachesr__slider.owl-carousel.owl-theme
                        .item
                            .teachers__item.col-sm-6.col-xs-12
                                    img(src="img/teacers_slide_1.jpg").teachers__photo
                                    .teachers__social_wrap
                                        a(href="#").teachers__social
                                            i.fa.fa-facebook
                                        a(href="#").teachers__social
                                            i.fa.fa-linkedin
                                    p.teachers__name Богдан Густиков
                                    span.teachers__position IT PM in Dizz Agency
                            .teachers__item.col-sm-6.col-xs-12
                                    img(src="img/teacers_slide_2.jpg").teachers__photo
                                    .teachers__social_wrap
                                        a(href="#").teachers__social
                                            i.fa.fa-facebook
                                        a(href="#").teachers__social
                                            i.fa.fa-linkedin
                                    p.teachers__name Владимир Озирный
                                    span.teachers__position SEO Dizz Agency / Say-hi
                        .item
                            .teachers__item.col-sm-6.col-xs-12
                                img(src="img/teacers_slide_1.jpg").teachers__photo
                                .teachers__social_wrap
                                    a(href="#").teachers__social
                                        i.fa.fa-facebook
                                    a(href="#").teachers__social
                                        i.fa.fa-linkedin
                                p.teachers__name Богдан Густиков
                                span.teachers__position IT PM in Dizz Agency
                            .teachers__item.col-sm-6.col-xs-12
                                img(src="img/teacers_slide_2.jpg").teachers__photo
                                .teachers__social_wrap
                                    a(href="#").teachers__social
                                        i.fa.fa-facebook
                                    a(href="#").teachers__social
                                        i.fa.fa-linkedin
                                p.teachers__name Владимир Озирный
                                span.teachers__position SEO Dizz Agency / Say-hi

        section.reviews#reviews
            .container
                .row
                    .reviews__wrap.col-sm-12.col-xs-12
                        h2.reviews__title Отзывы
                .row
                    #reviews.owl-carousel.owl-theme
                        .item
                            .col-sm-6.col-xs-12.reviews__wrap
                                .reviews__item
                                    .reviews__photo_wrap
                                         img(src="img/reviews_photo_1.png").reviews__photo
                                    span.reviews__autor Татьяна Шевченко
                                    span.reviews__age 36 лет
                                    p.reviews__text Задача организации, в особенности же рамки и место обучения кадров требуют определения и уточнения дальнейших направлений развития. Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач.
                            .col-sm-6.col-xs-12
                                .reviews__item
                                    .reviews__photo_wrap
                                        img(src="img/reviews_photo_2.png").reviews__photo
                                    span.reviews__autor Татьяна Шевченко
                                    span.reviews__age 36 лет
                                    p.reviews__text Задача организации, в особенности же рамки и место обучения кадров требуют определения и уточнения дальнейших направлений развития. Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач.
                        .item
                            .col-sm-6.col-xs-12.reviews__wrap
                                .reviews__item
                                    .reviews__photo_wrap
                                        img(src="img/reviews_photo_1.png").reviews__photo
                                    span.reviews__autor Татьяна Шевченко
                                    span.reviews__age 36 лет
                                    p.reviews__text Задача организации, в особенности же рамки и место обучения кадров требуют определения и уточнения дальнейших направлений развития. Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач.
                            .col-sm-6.col-xs-12
                                .reviews__item
                                    .reviews__photo_wrap
                                        img(src="img/reviews_photo_2.png").reviews__photo
                                    span.reviews__autor Татьяна Шевченко
                                    span.reviews__age 36 лет
                                    p.reviews__text Задача организации, в особенности же рамки и место обучения кадров требуют определения и уточнения дальнейших направлений развития. Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач.
        section.news#news
            .container
                .row
                    .col-sm-12.col-xs-12
                        h2.news__section-title Новости
                .row
                    .col-sm-4
                        img(src="img/news_1.jpg").news__photo
                        span.news__date 01 сентября 2017
                        a(href="#").news__title Концепция ментально оспособляет закон
                        p.news__description Задача организации, в особенности же рамки и место обучения кадров требуют определения и уточнения дальнейших ...
                    .col-sm-4
                        img(src="img/news_2.jpg").news__photo
                        span.news__date 01 сентября 2017
                        a(href="#").news__title Концепция ментально оспособляет закон
                        p.news__description Задача организации, в особенности же рамки и место обучения кадров требуют определения и уточнения дальнейших ...
                    .col-sm-4
                        img(src="img/news_3.jpg").news__photo
                        span.news__date 01 сентября 2017
                        a(href="#").news__title Концепция ментально оспособляет закон
                        p.news__description Задача организации, в особенности же рамки и место обучения кадров требуют определения и уточнения дальнейших ...
                button.button__type_2 Все новости
        section.contacts#contacts
            .contacts__wrap
                .container
                    .row
                        .col-sm-12.col-xs-12
                            h2.contacts__title Контакты
            .div#map
            //AIzaSyCSRXQn0dP78R_l53ALKwKVWqcogBFGnl0
            script.
                function initMap() {
                    var uluru = {lat: -25.363, lng: 131.044};

                    var style = [
                        {
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#f5f5f5"
                                }
                            ]
                        },
                        {
                            "elementType": "labels.icon",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#616161"
                                }
                            ]
                        },
                        {
                            "elementType": "labels.text.stroke",
                            "stylers": [
                                {
                                    "color": "#f5f5f5"
                                }
                            ]
                        },
                        {
                            "featureType": "administrative.land_parcel",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#bdbdbd"
                                }
                            ]
                        },
                        {
                            "featureType": "poi",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#eeeeee"
                                }
                            ]
                        },
                        {
                            "featureType": "poi",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#757575"
                                }
                            ]
                        },
                        {
                            "featureType": "poi.park",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#e5e5e5"
                                }
                            ]
                        },
                        {
                            "featureType": "poi.park",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#9e9e9e"
                                }
                            ]
                        },
                        {
                            "featureType": "road",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#ffffff"
                                }
                            ]
                        },
                        {
                            "featureType": "road.arterial",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#757575"
                                }
                            ]
                        },
                        {
                            "featureType": "road.highway",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#dadada"
                                }
                            ]
                        },
                        {
                            "featureType": "road.highway",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#616161"
                                }
                            ]
                        },
                        {
                            "featureType": "road.local",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#9e9e9e"
                                }
                            ]
                        },
                        {
                            "featureType": "transit.line",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#e5e5e5"
                                }
                            ]
                        },
                        {
                            "featureType": "transit.station",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#eeeeee"
                                }
                            ]
                        },
                        {
                            "featureType": "water",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#c9c9c9"
                                }
                            ]
                        },
                        {
                            "featureType": "water",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#9e9e9e"
                                }
                            ]
                        }
                    ]

                    var map = new google.maps.Map(document.getElementById('map'),
                        {
                        zoom: 16,
                        center: {lat: 50.449298, lng: 30.528427},
                        styles: style,
                    });





                    addmarker({
                        coordinate : {lat: 50.449298, lng: 30.528427},
                        image: "img/map_ic.png",
                    })

                    addmarker({
                        coordinate : {lat: 49.988358, lng: 36.232845}
                    })

                    function addmarker(properties) {
                        var marker = new google.maps.Marker({
                            position: properties.coordinate,
                            map: map,
                            //label:  "ABC"
                        });

                        if(properties.image){
                            marker.setIcon(properties.image)
                        }

                        //if(properties.label){
                        //    var label = new google.maps.label({
                         //       content: properties.label
                         //   })
                        //}
                    }



                    //var infoWindow = new google.maps.infoWindow({
                    //    content: "<h1>dsadas</h1>"
                    //});
                }


            script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCSRXQn0dP78R_l53ALKwKVWqcogBFGnl0&callback=initMap')

            //map!!!

            //
            .container
                .row
                    .contacts__detals-wrap
                        .col-sm-3.col-xs-12
                            ul
                                li.contacts__detals-title Адрес
                                li.contacts__detals-info г. Киев
                                li.contacts__detals-info ул. Воздвиженская, д. 35
                        .col-sm-3.col-xs-12
                            ul
                                li.contacts__detals-title Телефон:
                                li.contacts__detals-info
                                    a(href="tel:0939615484") (093) 961 54 84,
                                    a(href="tel:0939615484") (093) 961 54 84
                                li.contacts__detals-info
                                    a(href="tel:0939615484") (093) 961 54 84
                        .col-sm-3.col-xs-12
                            ul
                                li.contacts__detals-title E-mail
                                li.contacts__detals-info
                                    a(href="mailto:school@gmail.com") school@gmail.com

    a(href="#popup-subscription" style="display:none").notyfi.our-programs__notify-me test
    a(href="#popup-success" style="display:none").notyfi.our-programs__notify-me test