extends ../base
block title
    | Главная

block main
    main#my-content

        section.top-section#top-section
            .top-section__content
                h1.top-section__title Сообщество IT-управленцев
                p.top-section__description Мы создаем культуру IT-управленцев, методом обучения и погружения их в практику. Объединяем людей для получения новых знаний, навыков и профессионального роста.

                button.button Получить знания
                //a(href="#popup-subscription" style="").notyfi.our-programs__notify-me test
        section.for-who#for-who
            .container
                .row
                    .for-who__wrap.clearfix
                        .for-who__wrap-bg
                            .col-lg-12
                                h2.for-who__title Для кого ?
                            a(href="#").col-lg-3.col-md-3.col-sm-6.for-who__item
                                p.for-who__item-title Project manager
                                p.for-who__item-description Для полного понимания процесса разработки и управления командой
                            a(href="#").col-lg-3.col-md-3.col-sm-6.for-who__item
                                p.for-who__item-title Product managers
                                p.for-who__item-description Для создания ценного продукта и продвижения его на рынке
                            a(href="#").col-lg-3.col-md-3.col-sm-6.for-who__item
                                p.for-who__item-title Product owners
                                p.for-who__item-description Для закрепления навыков и понимания тенденций в IT
                            a(href="#").col-lg-3.col-md-3.col-sm-6.for-who__item
                                p.for-who__item-title Руководители
                                p.for-who__item-description Для получения знаний в процессе разработки и эффективного продвижения продуктов в IT
                            a(href="#").col-lg-3.col-md-3.col-sm-6.for-who__item
                                p.for-who__item-title IT-предприниматели
                                p.for-who__item-description Для обучения управлению командой разработки и продвижения продукта в IT
                            a(href="#").col-lg-3.col-md-3.col-sm-6.for-who__item
                                p.for-who__item-title Менеджеры
                                p.for-who__item-description Для переквалификации менеджеров в IT сферу
                            a(href="#").col-lg-3.col-md-3.col-sm-6.for-who__item
                                p.for-who__item-title IT-специалисты
                                p.for-who__item-description Для специалистов в разработке, которые решили быть руководителями IT-проектов
                            a(href="#").col-lg-3.col-md-3.col-sm-6.for-who__item
                                p.for-who__item-title Стартаперы и компании
                                p.for-who__item-description Для воплощения в жизнь идеи в условиях полной неопределенности

        section.after-study#after-study
            .container
                .row
                    .col-md-12.col-sm-12
                        h2.after-study__title После прохождения обучения Вы сможете -  главный заголовок
                    .col-lg-5.col-md-5.hidden-sm
                        div
                    .col-lg-7.col-md-7.col-sm-12
                        //span.after-study__advantages-title Что вы сможете после обучения?
                        ul.after-study__advantages-list
                            li
                                span 01
                                p Стать профессионалом в своей области
                            li
                                span 02
                                p Собрать команду разработчиков и грамотно ею управлять
                            li
                                span 03
                                p Создавать идеи и продвигать их
                            li
                                span 04
                                p Запустить свое дело в IT
                            li
                                span 05
                                p Выигрывать перегеворы
                            li
                                span 06
                                p Создавать и проводить впечатляющие презентации

        section.our-programs#our-programs
            .container
                .row
                    .col-sm-12
                        h2.our-programs__title Наши коуч-программы
                    .col-lg-12
                        .our-programs__tabs
                            ul.nav.nav-tabs
                                li.active
                                    a(href='#1', data-toggle='tab') Коуч программы
                                li
                                    a(href='#2', data-toggle='tab') Модули
                                li
                                    a(href='#3', data-toggle='tab') Тренинги

                    .tab-content
                        #1.tab-pane.active
                            .col-sm-6.col-xs-12
                                .our-programs__pogram_wrap
                                    .our-programs__pogram
                                        .our-programs__date
                                            span.our-programs__date-day 15
                                            span.our-programs__date-month декабря
                                        .our-programs__name
                                            p.our-programs__name-course IT Project management
                                            span.our-programs__type.our-programs__type_online Online
                                        img(src="img/fingerprint.png").our-programs__bg
                                    .our-programs__contract
                                        ul
                                            li.our-programs__info Цена:
                                                span.our-programs__conditions 3000 грн\месяц/ 110$.
                                            li.our-programs__info   Дни:
                                                span.our-programs__conditions Вт, Чт
                                        button.button__type_2 К курсу
                            .col-sm-6.col-xs-12
                                .our-programs__pogram_wrap
                                    .our-programs__pogram
                                        .our-programs__date
                                            span.our-programs__date-day 15
                                            span.our-programs__date-month декабря
                                        .our-programs__name
                                            p.our-programs__name-course IT Project management
                                            span.our-programs__type.our-programs__type_online Online
                                            span.our-programs__type.our-programs__type_offline offline
                                        img(src="img/fingerprint.png").our-programs__bg
                                    .our-programs__contract
                                        ul
                                            li.our-programs__info Цена:
                                                span.our-programs__conditions 3000 грн\месяц/ 110$.
                                            li.our-programs__info   Дни:
                                                span.our-programs__conditions Вт, Чт
                                        button.button__type_2 К курсу

                            //.col-sm-6.col-xs-12
                                .our-programs__pogram_wrap
                                    .our-programs__pogram
                                        .our-programs__date
                                            span.our-programs__date-day.our-programs__date-day_soon Скоро
                                            span.our-programs__date-month
                                        .our-programs__name
                                            p.our-programs__name-course Старт в IT Business community
                                            span.our-programs__type.our-programs__type_online Online
                                            span.our-programs__type.our-programs__type_offline offline
                                        img(src="img/rocket.png").our-programs__bg
                                    .our-programs__notify
                                        a(href="#notyfi").notyfi.our-programs__notify-me Уведомить меня о начале
                                            i.fa.fa-envelope-o
                                        a(href="#popup-course-description").button__type_2.notyfi.our-programs__notify-me К курсу
                            .our-programs__tabs-show-more
                                button.button__type_3 Больше курсов
                        #2.tab-pane
                            .col-sm-6.col-xs-12
                                .our-programs__pogram_wrap
                                    .our-programs__pogram
                                        .our-programs__date
                                            span.our-programs__date-day 01
                                            span.our-programs__date-month Ноября
                                        .our-programs__name
                                            p.our-programs__name-course IT Project management
                                            span.our-programs__type.our-programs__type_online Online
                                        img(src="img/fingerprint.png").our-programs__bg
                                    .our-programs__contract
                                        ul
                                            li.our-programs__info Цена:
                                                span.our-programs__conditions 4000 грн\месяц
                                            li.our-programs__info   Дни:
                                                span.our-programs__conditions Вт, Чт
                                        button.button__type_2 К курсу
                            .col-sm-6.col-xs-12
                                .our-programs__pogram_wrap
                                    .our-programs__pogram
                                        .our-programs__date
                                            span.our-programs__date-day.our-programs__date-day_soon Скоро
                                            span.our-programs__date-month
                                        .our-programs__name
                                            p.our-programs__name-course Старт в IT Business community
                                            span.our-programs__type.our-programs__type_online Online
                                            span.our-programs__type.our-programs__type_offline offline
                                        img(src="img/rocket.png").our-programs__bg
                                    .our-programs__notify
                                        a(href="").our-programs__notify-me Уведомить меня о начале
                                            i.fa.fa-envelope-o
                                        button.button__type_2 К курсу
                            .our-programs__tabs-show-more
                                button.button__type_3 Больше курсов
                        #3.tab-pane
                            .col-sm-6.col-xs-12
                                .our-programs__pogram_wrap
                                    .our-programs__pogram
                                        .our-programs__date
                                            span.our-programs__date-day 05
                                            span.our-programs__date-month Ноября
                                        .our-programs__name
                                            p.our-programs__name-course IT Project management
                                            span.our-programs__type.our-programs__type_online Online
                                        img(src="img/fingerprint.png").our-programs__bg
                                    .our-programs__contract
                                        ul
                                            li.our-programs__info Цена:
                                                span.our-programs__conditions 4000 грн\месяц
                                            li.our-programs__info   Дни:
                                                span.our-programs__conditions Вт, Чт
                                        button.button__type_2 К курсу
                            .col-sm-6.col-xs-12
                                .our-programs__pogram_wrap
                                    .our-programs__pogram
                                        .our-programs__date
                                            span.our-programs__date-day.our-programs__date-day_soon Скоро
                                            span.our-programs__date-month
                                        .our-programs__name
                                            p.our-programs__name-course Старт в IT Business community
                                            span.our-programs__type.our-programs__type_online Online
                                            span.our-programs__type.our-programs__type_offline offline
                                        img(src="img/rocket.png").our-programs__bg
                                    .our-programs__notify
                                        a(href="").our-programs__notify-me Уведомить меня о начале
                                            i.fa.fa-envelope-o
                                        button.button__type_2 К курсу
                            .our-programs__tabs-show-more
                                button.button__type_3 Больше курсов
        section.course-designer#course-designer
            .container
                .row
                    .col-sm-12
                        h2.course-designer__title Конструктор курса
                .row
                    .col-lg-8
                        p.course-designer__manual Выбирите тип курса и его составляющие, для того что бы записаться и обучаться тому, чего хотите именно вы.
            .container
                form
                    .course-designer__items
                        .course-designer__builder#course-designer__slider.owl-carousel.owl-theme
                            .course-designer__items-wrap#course-designer__name
                                p.course-designer__courses-name Название курса
                                .course-designer__up
                                    i.fa.fa-chevron-up
                                .course-designer__down
                                    i.fa.fa-chevron-down
                                .course-designer__scroll
                                    span.course-designer__cours-name Project Managment (Online)
                                        input(type="checkbox" value="Project Managment (Online)" id="managment-online")
                                        label(for="managment-online")
                                        i.fa.fa-long-arrow-right
                                    span.course-designer__cours-name Project Managment (Offline)
                                        input(type="checkbox" value="Project Managment (Offline)" id="managment-offline")
                                        label(for="managment-offline")
                                        i.fa.fa-long-arrow-right
                                    span.course-designer__cours-name Project Managment (Offline)
                                        input(type="checkbox" value="Project Managment (Offline)" id="managment-offline")
                                        label(for="managment-offline")
                                        i.fa.fa-long-arrow-right
                                    span.course-designer__cours-name Project Managment (Offline)
                                        input(type="checkbox" value="Project Managment (Offline)" id="managment-offline")
                                        label(for="managment-offline")
                                        i.fa.fa-long-arrow-right
                                    span.course-designer__cours-name Project Managment (Offline)
                                        input(type="checkbox" value="Project Managment (Offline)" id="managment-offline")
                                        label(for="managment-offline")
                                        i.fa.fa-long-arrow-right
                                    span.course-designer__cours-name Project Managment (Offline)
                                        input(type="checkbox" value="Project Managment (Offline)" id="managment-offline")
                                        label(for="managment-offline")
                                        i.fa.fa-long-arrow-right
                                    span.course-designer__cours-name Project Managment (Offline)
                                        input(type="checkbox" value="Project Managment (Offline)" id="managment-offline")
                                        label(for="managment-offline")
                                        i.fa.fa-long-arrow-right
                                    span.course-designer__cours-name Project Managment (Offline)
                                        input(type="checkbox" value="Project Managment (Offline)" id="managment-offline")
                                        label(for="managment-offline")
                                        i.fa.fa-long-arrow-right

                            .course-designer__items-wrap#course-designer__name-block
                                p.course-designer__courses-name Название модуля
                                .course-designer__up
                                    i.fa.fa-chevron-up
                                .course-designer__down
                                    i.fa.fa-chevron-down
                                .course-designer__scroll
                                    //.mCustomScrollbar(data-mcs-theme="dark-3")
                                    span.course-designer__cours-name
                                        .course-designer__cours-name_selected
                                        .course-designer__cours-name_selected-all
                                        #course-designer__cours-name_selected-all
                                        | Полный курс
                                        input(type="checkbox" value="Полный курс" id="full-course")
                                        label(for="full-course")
                                    span.course-designer__cours-name Управление проектами
                                        input(type="checkbox" value="Управление проектами" id="item 1")
                                        label(for="item 1")
                                    span.course-designer__cours-name Управление командой
                                        input(type="checkbox" value="Управление командой" id="item 2")
                                        label(for="item 2")
                                    span.course-designer__cours-name Работа с клиентами
                                        input(type="checkbox" value="Работа с клиентами" id="item 3")
                                        label(for="item 3")
                                    span.course-designer__cours-name Маркетинг
                                        input(type="checkbox" value="Маркетинг" id="item 4")
                                        label(for="item 4")
                                    span.course-designer__cours-name Маркетинг
                                        input(type="checkbox" value="Маркетинг" id="item 5")
                                        label(for="item 5")
                                    span.course-designer__cours-name Маркетинг
                                        input(type="checkbox" value="Маркетинг" id="item 6")
                                        label(for="item 6")
                                    span.course-designer__cours-name Маркетинг
                                        input(type="checkbox" value="Маркетинг" id="item 8")
                                        label(for="item 8")
                                    span.course-designer__cours-name Маркетинг
                                        input(type="checkbox" value="Маркетинг" id="item 9")
                                        label(for="item 9")
                                    span.course-designer__cours-name Маркетинг
                                        input(type="checkbox" value="Маркетинг" id="item 10")
                                        label(for="item 10")
                            .course-designer__items-wrap.course-designer__items-wrap_width
                                .course-designer__items-chosed#course-designer__items-chosed
                                    .course-designer__up
                                        i.fa.fa-chevron-up
                                    .course-designer__down
                                        i.fa.fa-chevron-down
                                    .course-designer__text
                                        p.course-designer__courses-finish Вы выбрали курс:
                                        p.course-designer__courses-chosed IT Project Managment (Online)
                                    .course-designer__items-list
                                        a(href="#")
                                            i.fa.fa-chevron-up
                                        a(href="#")
                                            i.fa.fa-chevron-down
                                        ul
                                            li Полный курс

                            .col-lg-12.col-xs-12.course-designer__form-slider
                                .course-designer__form-contacts
                                    span.course-designer__accept Подтвердить
                                    .intermediate_item
                                        .input_wrap
                                            i.fa.fa-check
                                            input(name='name', type='text', placeholder='ИМЯ ФАМИЛИЯ')
                                    .intermediate_item
                                        .input_wrap
                                            i.fa.fa-check
                                            input(name='phone', type='text', placeholder='ТЕЛЕФОН').mask
                                    .intermediate_item
                                        .input_wrap
                                            i.fa.fa-check
                                            input(name='email', type='text', placeholder='E-MAIL')
                                    input(type='hidden', name='form_name', value='baseForm')
                                    input(type='hidden', name='form_type', value='normal')
                                    .intermediate_item
                                        input(type='submit', value='Записаться')
                        .slider-count
                            span.current-slide
                            //span.total-slide
                .row
                    .col-lg-12.col-xs-12
                        .course-designer__form-contacts.course-designer__form-contacts-single
                            .intermediate_item
                                .input_wrap
                                    i.fa.fa-check
                                    input(name='name', type='text', placeholder='ИМЯ ФАМИЛИЯ')
                            .intermediate_item
                                .input_wrap
                                    i.fa.fa-check
                                    input(name='phone', type='text', placeholder='ТЕЛЕФОН').mask
                            .intermediate_item
                                .input_wrap
                                    i.fa.fa-check
                                    input(name='email', type='text', placeholder='E-MAIL')
                            input(type='hidden', name='form_name', value='baseForm')
                            input(type='hidden', name='form_type', value='normal')
                            .intermediate_item
                                input(type='submit', value='Записаться')

        section.why-created
            .container
                .row
                    .col-sm-12.col-xs-12
                        .why-created__wrap
                            h2.why-created__title Почему создано сообщество?
                            p.why-created__description Мировые лидеры технологий - Илон Маск, Стив Джобс, Билл Гейтс и Марк Цукерберг
                                //span - это мировые лидеры мнений и технологий
                                strong успешными IT-управленцами.
                            p.why-created__description_default Лидерами не рождаются, а становятся - приобретая необходимые знания, опыт, и стимулируя объеденяя правильных людей вокруг себя.

        section#video.video
            .video__bg
            video(src="video/video.mp4" width="100%" height="550")
            a.video__play-pause(type="button" id="play-pause")
        section.our-goal
            .container
                .row
                    .col-sm-12.col-xs-12
                        .our-goal__wrap
                            h2.our-goal__title Какая наша цель?
                            strong Наша главная цель -
                            p.our-goal__main-goal обучить людей мыслить масштабно, ведь только при глобальном и системном мышлении можно достигнуть успеха в IT-управлении. И наши участники сообщества достигают таких результатов.
                                |
        section.world-leaders
            .world-leaders__tabs-wrap
                .world-leaders__leaders
                    .world-leaders__leaders-photo
                        ul.world-leaders__tabs
                            li.active
                                a(href='#face-6', data-toggle='tab')
                                    img(src="img/Jeffrey-preston.png")
                            li
                                a(href='#face-12', data-toggle='tab')
                                    img(src="img/ilon-max.png")
                            li
                                a(href='#face-3', data-toggle='tab')
                                    img(src="img/bill-gates.png")
                            li
                                a(href='#face-5', data-toggle='tab')
                                    img(src="img/larry-page.png")
                            li
                                a(href='#face-1', data-toggle='tab')
                                    img(src="img/mark-cuckerberg.png")
                            li
                                a(href='#face-7', data-toggle='tab')
                                    img(src="img/mike-krieger.png")
                            li
                                a(href='#face-11', data-toggle='tab')
                                    img(src="img/yan-borisovich.png")
                            li
                                a(href='#face-8', data-toggle='tab')
                                    img(src="img/george-soros.png")
                            li
                                a(href='#face-4', data-toggle='tab')
                                    img(src="img/sergey-brin.png")

                            li
                                a(href='#face-10', data-toggle='tab')
                                    img(src="img/max-levchin.png")
                            li
                                a(href='#face-2', data-toggle='tab')
                                    img(src="img/steve-jobs.png")
                            li
                                a(href='#face-9', data-toggle='tab')

                                    img(src="img/yang-jerry.png")
                .world-leaders__leaders-content
                    .tab-content
                        #face-1.tab-pane.active
                            span.world-leaders__leaders-content-title Мировые IT управленцы
                            span.world-leaders__leaders-content-blockquote Все просто: мы не создаем сервисы, чтобы зарабатывать деньги. Мы зарабатываем деньги, чтобы создавать лучшие сервисы
                            span.world-leaders__leaders-content-name Марк Цукерберг
                            span.world-leaders__leaders-content-who Основатель социальной сети Facebook
                            img(src="img/quotes.png").world-leaders__quotes
                        #face-2.tab-pane
                            span.world-leaders__leaders-content-title Мировые IT управленцы
                            span.world-leaders__leaders-content-blockquote Все просто: мы не создаем сервисы, чтобы зарабатывать деньги. Мы зарабатываем деньги, чтобы создавать лучшие сервисы
                            span.world-leaders__leaders-content-name Стив Джобс
                            span.world-leaders__leaders-content-who Основатель Apple
                            img(src="img/quotes.png").world-leaders__quotes
                        #face-3.tab-pane
                            span.world-leaders__leaders-content-title Мировые IT управленцы
                            span.world-leaders__leaders-content-blockquote Все просто: мы не создаем сервисы, чтобы зарабатывать деньги. Мы зарабатываем деньги, чтобы создавать лучшие сервисы
                            span.world-leaders__leaders-content-name Билл Гейтс
                            span.world-leaders__leaders-content-who Основатель Microsoft
                            img(src="img/quotes.png").world-leaders__quotes
                        #face-4.tab-pane
                            span.world-leaders__leaders-content-title Мировые IT управленцы
                            span.world-leaders__leaders-content-blockquote Все просто: мы не создаем сервисы, чтобы зарабатывать деньги. Мы зарабатываем деньги, чтобы создавать лучшие сервисы
                            span.world-leaders__leaders-content-name Сергей Брин
                            span.world-leaders__leaders-content-who Основатель Google
                            img(src="img/quotes.png").world-leaders__quotes
                        #face-5.tab-pane
                            span.world-leaders__leaders-content-title Мировые IT управленцы
                            span.world-leaders__leaders-content-blockquote Все просто: мы не создаем сервисы, чтобы зарабатывать деньги. Мы зарабатываем деньги, чтобы создавать лучшие сервисы
                            span.world-leaders__leaders-content-name Ларри Пейдж
                            span.world-leaders__leaders-content-who Основатель Google
                            img(src="img/quotes.png").world-leaders__quotes
                        #face-6.tab-pane
                            span.world-leaders__leaders-content-title Мировые IT управленцы
                            span.world-leaders__leaders-content-blockquote Все просто: мы не создаем сервисы, чтобы зарабатывать деньги. Мы зарабатываем деньги, чтобы создавать лучшие сервисы
                            span.world-leaders__leaders-content-name Джефф Безос
                            span.world-leaders__leaders-content-who Основатель Амазон
                            img(src="img/quotes.png").world-leaders__quotes
                        #face-7.tab-pane
                            span.world-leaders__leaders-content-title Мировые IT управленцы
                            span.world-leaders__leaders-content-blockquote Все просто: мы не создаем сервисы, чтобы зарабатывать деньги. Мы зарабатываем деньги, чтобы создавать лучшие сервисы
                            span.world-leaders__leaders-content-name Майк Кригер
                            span.world-leaders__leaders-content-who Сооснователь Instagram
                            img(src="img/quotes.png").world-leaders__quotes
                        #face-8.tab-pane
                            span.world-leaders__leaders-content-title Мировые IT управленцы
                            span.world-leaders__leaders-content-blockquote Все просто: мы не создаем сервисы, чтобы зарабатывать деньги. Мы зарабатываем деньги, чтобы создавать лучшие сервисы
                            span.world-leaders__leaders-content-name Джордж Сорос
                            span.world-leaders__leaders-content-who Основатель Ebay
                            img(src="img/quotes.png").world-leaders__quotes
                        #face-9.tab-pane
                            span.world-leaders__leaders-content-title Мировые IT управленцы
                            span.world-leaders__leaders-content-blockquote Все просто: мы не создаем сервисы, чтобы зарабатывать деньги. Мы зарабатываем деньги, чтобы создавать лучшие сервисы
                            span.world-leaders__leaders-content-name Джерри Янг
                            span.world-leaders__leaders-content-who Сооснователь яху
                            img(src="img/quotes.png").world-leaders__quotes
                        #face-10.tab-pane
                            span.world-leaders__leaders-content-title Мировые IT управленцы
                            span.world-leaders__leaders-content-blockquote Все просто: мы не создаем сервисы, чтобы зарабатывать деньги. Мы зарабатываем деньги, чтобы создавать лучшие сервисы
                            span.world-leaders__leaders-content-name Макс Левчин
                            span.world-leaders__leaders-content-who Основатель paypal
                            img(src="img/quotes.png").world-leaders__quotes
                        #face-11.tab-pane
                            span.world-leaders__leaders-content-title Мировые IT управленцы
                            span.world-leaders__leaders-content-blockquote Все просто: мы не создаем сервисы, чтобы зарабатывать деньги. Мы зарабатываем деньги, чтобы создавать лучшие сервисы
                            span.world-leaders__leaders-content-name Ян Борисович
                            span.world-leaders__leaders-content-who Кум основатель whats up
                            img(src="img/quotes.png").world-leaders__quotes
                        #face-12.tab-pane
                            span.world-leaders__leaders-content-title Мировые IT управленцы
                            span.world-leaders__leaders-content-blockquote Все просто: мы не создаем сервисы, чтобы зарабатывать деньги. Мы зарабатываем деньги, чтобы создавать лучшие сервисы
                            span.world-leaders__leaders-content-name Илон Маск
                            span.world-leaders__leaders-content-who Tesla/SpaceX
                            img(src="img/quotes.png").world-leaders__quotes


        section.teachers#teachers
            .container
                .row
                    .col-sm-12.col-xs-12
                        h2.teachers__title Ведущие программы
                .row
                    #teachesr__slider.owl-carousel.owl-theme
                        .item
                            .teachers__item.col-sm-6.col-xs-12
                                    img(src="img/teacers_slide_1.jpg").teachers__photo
                                    .teachers__social_wrap
                                        a(href="#").teachers__social
                                            i.fa.fa-facebook
                                        a(href="#").teachers__social
                                            i.fa.fa-linkedin
                                    p.teachers__name Богдан Густиков
                                    span.teachers__position Богдан Густиков - IT PM Dizz Agency Работал в Scrum/Kanban Опыт в IT до 2 лет Опыт успешного управления командой до 10 человек Был разработан продукт – онлайн-трансляции проведения тренинга с возможностью общения с тренером

                            .teachers__item.col-sm-6.col-xs-12
                                    img(src="img/teacers_slide_2.jpg").teachers__photo
                                    .teachers__social_wrap
                                        a(href="#").teachers__social
                                            i.fa.fa-facebook
                                        a(href="#").teachers__social
                                            i.fa.fa-linkedin
                                    p.teachers__name Владимир Озирный
                                    span.teachers__position В IT и маркетинге, в продажах 11 дет. Опыт управление 20+ человек. Владелец Dizz Agency по созданию и эффективному продвижению бизнесов в интернете. Сооснователь издания Say-Hi. В месяц посещают 200 000 уникальных поситителей на сайт 100 000 подписчиков в соц.сетях. Разработано и продвинуто более 200 успешных проектов. Роботает с компаниями Америки, Канады, Европы и странами СНГ. Проходил обучение у лидеров маркетинг-индустрии – Игорь Манн, Александр Левитас, Фрэнк Керн

                        .item
                            .teachers__item.col-sm-6.col-xs-12
                                img(src="img/teacers_slide_1.jpg").teachers__photo
                                .teachers__social_wrap
                                    a(href="#").teachers__social
                                        i.fa.fa-facebook
                                    a(href="#").teachers__social
                                        i.fa.fa-linkedin
                                p.teachers__name Богдан Густиков
                                span.teachers__position Богдан Густиков - IT PM Dizz Agency Работал в Scrum/Kanban Опыт в IT до 2 лет Опыт успешного управления командой до 10 человек Был разработан продукт – онлайн-трансляции проведения тренинга с возможностью общения с тренером

                            .teachers__item.col-sm-6.col-xs-12
                                img(src="img/teacers_slide_2.jpg").teachers__photo
                                .teachers__social_wrap
                                    a(href="#").teachers__social
                                        i.fa.fa-facebook
                                    a(href="#").teachers__social
                                        i.fa.fa-linkedin
                                p.teachers__name Владимир Озирный
                                span.teachers__position В IT и маркетинге, в продажах 11 дет. Опыт управление 20+ человек. Владелец Dizz Agency по созданию и эффективному продвижению бизнесов в интернете. Сооснователь издания Say-Hi. В месяц посещают 200 000 уникальных поситителей на сайт 100 000 подписчиков в соц.сетях. Разработано и продвинуто более 200 успешных проектов. Роботает с компаниями Америки, Канады, Европы и странами СНГ. Проходил обучение у лидеров маркетинг-индустрии – Игорь Манн, Александр Левитас, Фрэнк Керн


        //section.reviews#reviews
            .container
                .row
                    .reviews__wrap.col-sm-12.col-xs-12
                        h2.reviews__title Отзывы
                .row
                    #reviews.owl-carousel.owl-theme
                        .item
                            .col-sm-6.col-xs-12.reviews__wrap
                                .reviews__item
                                    .reviews__photo_wrap
                                         img(src="img/reviews_photo_1.png").reviews__photo
                                    span.reviews__autor Татьяна Шевченко
                                    span.reviews__age 36 лет
                                    p.reviews__text Задача организации, в особенности же рамки и место обучения кадров требуют определения и уточнения дальнейших направлений развития. Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач.
                            .col-sm-6.col-xs-12
                                .reviews__item
                                    .reviews__photo_wrap
                                        img(src="img/reviews_photo_2.png").reviews__photo
                                    span.reviews__autor Татьяна Шевченко
                                    span.reviews__age 36 лет
                                    p.reviews__text Задача организации, в особенности же рамки и место обучения кадров требуют определения и уточнения дальнейших направлений развития. Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач.
                        .item
                            .col-sm-6.col-xs-12.reviews__wrap
                                .reviews__item
                                    .reviews__photo_wrap
                                        img(src="img/reviews_photo_1.png").reviews__photo
                                    span.reviews__autor Татьяна Шевченко
                                    span.reviews__age 36 лет
                                    p.reviews__text Задача организации, в особенности же рамки и место обучения кадров требуют определения и уточнения дальнейших направлений развития. Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач.
                            .col-sm-6.col-xs-12
                                .reviews__item
                                    .reviews__photo_wrap
                                        img(src="img/reviews_photo_2.png").reviews__photo
                                    span.reviews__autor Татьяна Шевченко
                                    span.reviews__age 36 лет
                                    p.reviews__text Задача организации, в особенности же рамки и место обучения кадров требуют определения и уточнения дальнейших направлений развития. Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач.
        section.news#news
            .container
                .row
                    .col-sm-12.col-xs-12
                        h2.news__section-title Новости
                .row
                    .col-sm-4
                        img(src="img/news_1.jpg").news__photo
                        span.news__date 01 сентября 2017
                        a(href="#").news__title Новость 1
                        p.news__description Наша история, почему мы запустили сообщество IT управленцев
                    .col-sm-4
                        img(src="img/news_2.jpg").news__photo
                        span.news__date 01 сентября 2017
                        a(href="#").news__title Новость 2
                        p.news__description 7 качеств руководителя
                    .col-sm-4
                        img(src="img/news_3.jpg").news__photo
                        span.news__date 01 сентября 2017
                        a(href="#").news__title Новость 3
                        p.news__description Навыки успешного IT PM
                button.button__type_2 Все новости
        section.contacts#contacts
            .contacts__wrap
                .container
                    .row
                        .col-sm-12.col-xs-12
                            h2.contacts__title Контакты
            .div#map
            //AIzaSyCSRXQn0dP78R_l53ALKwKVWqcogBFGnl0
            script.
                function initMap() {
                    var uluru = {lat: -25.363, lng: 131.044};

                    var style = [
                        {
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#f5f5f5"
                                }
                            ]
                        },
                        {
                            "elementType": "labels.icon",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#616161"
                                }
                            ]
                        },
                        {
                            "elementType": "labels.text.stroke",
                            "stylers": [
                                {
                                    "color": "#f5f5f5"
                                }
                            ]
                        },
                        {
                            "featureType": "administrative.land_parcel",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#bdbdbd"
                                }
                            ]
                        },
                        {
                            "featureType": "poi",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#eeeeee"
                                }
                            ]
                        },
                        {
                            "featureType": "poi",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#757575"
                                }
                            ]
                        },
                        {
                            "featureType": "poi.park",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#e5e5e5"
                                }
                            ]
                        },
                        {
                            "featureType": "poi.park",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#9e9e9e"
                                }
                            ]
                        },
                        {
                            "featureType": "road",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#ffffff"
                                }
                            ]
                        },
                        {
                            "featureType": "road.arterial",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#757575"
                                }
                            ]
                        },
                        {
                            "featureType": "road.highway",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#dadada"
                                }
                            ]
                        },
                        {
                            "featureType": "road.highway",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#616161"
                                }
                            ]
                        },
                        {
                            "featureType": "road.local",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#9e9e9e"
                                }
                            ]
                        },
                        {
                            "featureType": "transit.line",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#e5e5e5"
                                }
                            ]
                        },
                        {
                            "featureType": "transit.station",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#eeeeee"
                                }
                            ]
                        },
                        {
                            "featureType": "water",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#c9c9c9"
                                }
                            ]
                        },
                        {
                            "featureType": "water",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#9e9e9e"
                                }
                            ]
                        }
                    ]

                    var map = new google.maps.Map(document.getElementById('map'),
                        {
                        zoom: 16,
                        center: {lat: 50.449298, lng: 30.528427},
                        styles: style,
                    });





                    addmarker({
                        coordinate : {lat: 50.449298, lng: 30.528427},
                        image: "img/map_ic.png",
                    })

                    addmarker({
                        coordinate : {lat: 49.988358, lng: 36.232845}
                    })

                    function addmarker(properties) {
                        var marker = new google.maps.Marker({
                            position: properties.coordinate,
                            map: map,
                            //label:  "ABC"
                        });

                        if(properties.image){
                            marker.setIcon(properties.image)
                        }

                        //if(properties.label){
                        //    var label = new google.maps.label({
                         //       content: properties.label
                         //   })
                        //}
                    }



                    //var infoWindow = new google.maps.infoWindow({
                    //    content: "<h1>dsadas</h1>"
                    //});
                }


            script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCSRXQn0dP78R_l53ALKwKVWqcogBFGnl0&callback=initMap')

            //map!!!

            //
            .container
                .row
                    .contacts__detals-wrap
                        .col-sm-3.col-xs-12
                            ul
                                li.contacts__detals-title Адрес
                                li.contacts__detals-info г. Киев
                                li.contacts__detals-info ул. Воздвиженская, д. 35
                        .col-sm-3.col-xs-12
                            ul
                                li.contacts__detals-title Телефон:
                                li.contacts__detals-info
                                    a(href="tel:0939615484") (063) 651 25 17,
                                    a(href="tel:0939615484") (068) 949 84 70
                                li.contacts__detals-info
                                    a(href="tel:0939615484") (068) 949 84 70
                        .col-sm-3.col-xs-12
                            ul
                                li.contacts__detals-title E-mail
                                li.contacts__detals-info
                                    a(href="mailto:Welcome@managers-it.com") Welcome@managers-it.com
    //подписка
    //a(href="#popup-subscription" style="").notyfi.our-programs__notify-me test,
    //заявка отправлена
    //a(href="#popup-success" style="").notyfi.our-programs__notify-me test