doctype html
html(class="no-js" lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title
            block title
        link(rel="shortcut icon" href=("img/favicon.png") type="image/x-icon")


        style(type='text/css').
            html .loader {
                background: #fff;
                z-index: 9999;
                position: fixed;
                bottom: 0;
                left: 0;
                right: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }

            html .loader .loader_inner {
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                background-color: #fff;
                height: 200px;
                width: 200px;
                margin-top: -100px;
                margin-left: -100px;
                left: 50%;
                top: 50%;
                position: absolute
            }

        script(src='js/libs.min.js')
        script(src='js/common.js')

    body(data-spy="scroll" data-target="#navbar")
        div#my-page
            div
                .loader
                    .loader_inner
                        include ../img/preloader.svg

            block modal
                include modal

            //a(href="#my-menu").hamburger.hamburger--collapse
                span.hamburger-box
                    span.hamburger-inner

            header#my-header.header
                    //.container
                    .header__wrap
                        .header__main
                            .header__logo
                                a(href="/" class="logo" title="MIT").
                                    MIT
                            nav#navbar.header__nav
                                ul.nav(role="tablist")#navigation
                                    li
                                        a(href="insidePage.html") Главная
                                    li
                                        a(href="#our-programs") Курсы
                                    li
                                        a(href="#teachers") Ведущие
                                    li
                                        a(href="#news") О нас
                                    li
                                        a(href="#contacts") Контакты
                        .header___controls
                            .header___dropdown-language
                                span.header__curent-language Рус
                                i.fa.fa-angle-right
                                .header__swich-language
                                    a(href="#").active Рус
                                    a(href="#") Eng
                            .header__private-office
                                a(href="#") Личный кабинет

                        //.header__modal
                            a(data-effect="mfp-zoom-in" data-info="Обратный звонок" href="#popup" class="open-popup-link" title='Вызов стандартного модального окна') Обратный звонок
                        a(href="#my-menu").hamburger.hamburger--collapse
                            span.hamburger-box
                                span.hamburger-inner
                        //nav#my-menu
                            ul
                                li
                                    a(href="#") item 1
                                li.active
                                    a(href="#") item 2
                    .header__mob-menu
                        ul(role="tablist")
                            li
                                a(href="insidePage.html") Главная
                            li
                                a(href="#our-programs") Курсы
                            li
                                a(href="#teachers") Ведущие
                            li
                                a(href="#news") О нас
                            li
                                a(href="#contacts") Контакты
                        .header__mob-menu-bottom
                            .header__header__mob-menu-language
                                a(href="#").active Рус
                                a(href="#") Eng
                            .header__header__mob-menu-social
                                a(href="#")
                                    i.fa.fa-facebook
                                a(href="#")
                                    i.fa.fa-instagram
                                a(href="#")
                                    i.fa.fa-linkedin
                                a(href="#")
                                    i.fa.fa-vk
            block main

            footer.footer#my-footer
                a(href="#top-section").footer__scroll-top наверх
                    i.fa.fa-angle-up
                .container
                    .row
                        .col-sm-3.col-xs-12
                            .footer__links
                                ul
                                    li
                                        a(href="#for-who") Для кого тренинг?
                                    li
                                        a(href="#after-study") После проходения курса
                                    li
                                        a(href="#our-programs") Наши коуч-программы
                                    li
                                        a(href="#course-designer") Конструктор курса
                        .col-sm-3.col-xs-12
                            .footer__links
                                ul
                                    li
                                        a(href="#teachers") Ведущие программы
                                    li
                                        a(href="#reviews") Отзывы
                                    li
                                        a(href="#news") Новости
                                    li
                                        a(href="#contacts") Контакты
                        .col-sm-6.col-xs-12
                            .footer__subscribe-news
                                span Подписаться на новости
                                .footer__form-wrap
                                    form#form
                                        .intermediate_item
                                            .input_wrap
                                                i.fa.fa-check
                                                input(name='email', type='text', placeholder='E-MAIL')
                                            input(type='hidden', name='form_name', value='baseForm')
                                            input(type='hidden', name='form_type', value='normal')
                                            //.intermediate_item
                                            input(type='submit', value='подписаться').button__type_2
                                    //a(href="#").footer__scroll-top наверх
                                        i.fa.fa-angle-up
                    .row
                        .col-sm-12.col-xs-12
                            .footer__copyright
                                a(href="#") MIT 2017 © Разрабтка Dizz Agency.
                                ul.footer__social
                                    li
                                        a(href="#" target="_blank")
                                            i.fa.fa-facebook
                                    li
                                        a(href="#" target="_blank")
                                            i.fa.fa-instagram
                                    li
                                        a(href="#" target="_blank")
                                            i.fa.fa-linkedin
                                    li
                                        a(href="#" target="_blank")
                                            i.fa.fa-vk

        link(rel='stylesheet', href='css/libs.min.css')
        link(rel='stylesheet', href='css/main.css')

