#notyfi.mfp-hide.white-popup.mfp-with-anim.popup
    form.form.form-notyfi.mfp-close-btn-in
        p.modal-title
            | Уведомить о наборе
        div.form__wrap
            .input_wrap
                i.fa.fa-check
                input(name="name" type="text" placeholder="Имя")
            .input_wrap
                i.fa.fa-check
                input(name="email" type="text" placeholder="E-MAIL")
            .input_wrap
                i.fa.fa-check
                input(name="phone_mask" type="text" class="mask" placeholder="Телефон").mask
            //.input_wrap
                i.fa.fa-check
                textarea(name="textarea" type="text" placeholder="Описание заяки")
            //.select
                .slct_arrow
                    i.fa.fa-angle-down
                a(href="#" class="slct") Выбор заголовков:
                ul.drop
                    li Вы крутые
                    li Я в Вас влюбился
                    li Быстрей Вас только Флеш
                input(type="hidden" name="services")
        input(type="hidden" name="form_name" value="")
        input(type="hidden" name="form_type" value="modal")
        input(type="submit" value="Отправить")
//.overlay
// Модальное окно success
#popup-success.mfp-hide.white-popup.mfp-with-anim.popup
    p.success_mail Заявка отправлена
