.top-section__content
  opacity: 0
.for-who__title
  opacity: 0
.for-who__item
  opacity: 0
.after-study__title, .after-study__advantages-list
  opacity: 0
.our-programs__title, .our-programs__tabs, .tab-content
  opacity: 0
.course-designer__title, .course-designer__manual, .course-designer__items, .course-designer__form-contacts-single
  opacity: 0 
.why-created__title,.why-created__description,.why-created__description_default,
  opacity: 0
.video
  opacity: 0
.our-goal
  opacity: 0