@media only screen and (max-width : 1535px)
  /**/
  .world-leaders
    &__tabs
     width: 95%
    &__leaders-photo
      li:nth-child(4)
        top: 240px
        left: 180px
      li:nth-child(10)
        top: 240px
        right: 180px
@media only screen and (max-width : 1199px)
  /**/
  //header
  .header
    &__wrap
      padding: 0 45px
    &__nav
      margin-left: 50px
      ul li + li
        margin-left: 21px
    &___dropdown-language
      margin-right: 20px
  .for-who
    padding: 20px 0 2px 0
    &__wrap
      padding: 50px 0 45px 0
    &__wrap-bg
      &:before,  &:after
        display: none
  .after-study
    padding: 35px 0 50px 0
    background-position: -50% 80%
  .our-programs
    padding: 50px 0 50px 0
    &__title
      margin-bottom: 30px
    &__bg
      display: none
  .our-programs__contract, .our-programs__notify
    flex-direction: column
    .button__type_2
      margin-top: 15px
  .course-designer
    padding: 0 0 50px 0
    &:before, &:after
      display: none
    &__form-contacts .intermediate_item input
      padding: 16px 0px 16px 26px
    &__form-contacts .intermediate_item input[type="submit"]
      width: 202px
      padding: 16px 0px 16px 0
  .why-created
    padding: 50px 0 40px 0
    &:before
      display: none
  .our-goal
    padding: 100px 0 25px 0
    &:before
      display: none
  .world-leaders
    padding: 55px 0 45px 0
    .world-leaders__leaders-content
      position: inherit
    &__leaders-photo
      li:nth-child(4)
        top: 240px
        left: 235px
      li:nth-child(10)
        top: 240px
        right: 235px
  .reviews
    &:before, &:after
      display: none
  .news
    padding: 50px 0 50px 0
  .contacts
    padding: 50px 0 35px 0


  // second page start !!


  .next-course
    padding: 140px 15px 0 15px
    &__content
      width: 80%
  .what-get
    padding: 60px 0 45px
    &:before
      display: none
  .about-course
    padding: 45px 0 50px 0
    &:before, &:after
      display: none
    &__title
      margin-bottom: 35px
  .who-wait
    &__wrap
      padding: 20px 0 35px 0
    &__item-text
      padding: 0 10px
  .career
    padding: 50px 0 50px 0
    &:before, &:after
      display: none
    &__item-wrap
      width: 200px
      height: 200px
    &__position
      padding: 0 5px
  .course-program
    padding: 50px 0 25px 0
  .course-schedule
    padding: 50px 0 50px 0
  //popUp
  .form
    padding: 75px 115px 75px 115px
  .popup-course-description
    width: 85%
@media only screen and (max-width : 991px)
  /**/
  //header
  .hamburger
    display: block
    z-index: 99999
  .header
    padding: 5px 0
    &__wrap
      padding: 0 65px
    &__nav
      display: none
  .header___dropdown-language
    display: none
  .header__private-office
    display: none
  .top-section
    padding: 110px 30px 0 35px
    height: 1050px
    position: inherit
    background: url(../img/top_section-bg-adaptive.png) no-repeat 100% 50%
    background-size: contain
    &__content
      position: inherit
      text-align: center
      width: 80%
      margin:  0 auto
    &__description
      margin: 70% 0 87px 0
    &__title
      font-family: $ProximaNova-Light
      font-size: 44px

  .after-study
    background-position-x: right;
    background-position-y: 3%;
    &__title
      margin-top: 380px 
  .our-programs__info + .our-programs__info
    margin-left: 0

  .course-designer
    &__builder
      flex-wrap: wrap
    &__items-wrap
      width: 50%
      padding-bottom: 30px
      position: relative
      overflow: visible
      &:after
        content: ""
        margin: 0 auto
        display: block
        position: absolute
        bottom: 25px
        width: 88%
        border-top: 2px solid #f4f3f5
      .course-designer__up
        display: block
        position: absolute
        top: 137px
        left: 0
        right: 0
        text-align: center
        color: #b3b3b3
      .course-designer__down
        color: #b3b3b3
        display: block
        position: absolute
        bottom: 0px
        left: 0
        right: 0
        z-index: 9999
        text-align: center
    &__courses-name
      position: relative
      margin-top: 100px
      &:before
        content: ""
        margin: 0 auto
        display: block
        position: absolute
        bottom: -30px
        width: 88%
        border-top: 2px solid #f4f3f5
    &__scroll
      padding-bottom: 30px
    &__items-wrap_width
      width: 100%
    .course-designer__items-wrap_width
      &:after
        border-top: 2px solid transparent
    &__items-chosed
      display: flex
      justify-content: space-between
    &__text
      width: 50%
    &__items-list
      width: 50%
      position: relative
      &:before
        content: ""
        margin: 0 auto
        display: block
        position: absolute
        top: -17px
        width: 88%
        border-top: 2px solid #f4f3f5
      &:after
        content: ""
        margin: 0 auto
        display: block
        position: absolute
        bottom: -17px
        width: 88%
        border-top: 2px solid #f4f3f5
      ul
        height: 185px
        li + li
          margin-top: 10px
    #course-designer__name-block
      .course-designer__down
        bottom: 28px
    &__items-chosed
      .course-designer__up
        top: 65px
        left: inherit
        right: 172px
      .course-designer__down
        bottom: 45px
        left: inherit
        right: 172px
    &__items-wrap span
      font-size: 12px
    &__form-contacts .intermediate_item input
      padding: 15px 20px
      width: 150px
    &__form-contacts .intermediate_item input[type="submit"]
      padding: 15px 20px
      width: 150px
    .mCSB_draggerContainer
      display: none

  .contacts
    &__detals-info
      a
        display: block
      a + a
        margin-left: 0
  //footer
  .footer__links
    font-size: 13px
  .footer__subscribe-news span
    font-size: 20px

  // second page
  .what-get
    .after-study__advantages-list p
      font-size: 14px
  .what-get__advantages-list_mt
    padding-top: 15px
  .who-wait__items-wrap
    margin-top: 0
  .career__item-wrap
    width: 160px
    height: 160px
  .course-program
    &__steps_wrap
      flex-direction: column
    &__steps
      width: 100%
    &__swich-type li
      padding: 13px 4px
    &__swich-type li a
      font-size: 11px
  .contacts
    #map
      width: 100%
  .popup-course-description .form
    padding: 25px 25px 40px 30px
@media only screen and (max-width : 768px)
  /**/
  .top-section
    height: 950px
    background-position: 100% 47%
  .header__wrap
    flex-direction: column
    padding: 0
  //2.for-who
  .for-who__item
    text-align: center
  .for-who__title
    text-align: center
    &:before
      left: inherit
  .for-who__wrap .col-lg-3
    &:before
      margin: 0 auto

  .world-leaders
    &__leaders-content
      width: 490px
      height: 490px
    &__tabs
      text-align: center
    &__leaders-photo
      li:nth-child(2)
        top: 50px
        left: 90px
      li:nth-child(3)
        top: 121px
        left: 0
      li:nth-child(4)
        top: 315px
        left: 90px
      li:nth-child(5)
        top: 180px
        left: 120px
      li:nth-child(6)
        top: 257px
        left: 0
      li:nth-child(7)
        top: 50px
        right: 0
      li:nth-child(8)
        top: 0
        right: 115px
      li:nth-child(9)
        top: 180px
        right: 0
      li:nth-child(10)
        top: 257px
        right: 125px
      li:nth-child(11)
        top: 121px
        right: 120px
      li:nth-child(12)
        top: 315px
        right: 0px
  //3.after-study
  .after-study__title
    font-size: 18px
  .career__item-wrap
    margin: 0 auto
  .career__item + .career__item
    margin-top: 30px
  .career__item + .career__item:after
    top: calc(50% - 147px)
    left: calc(50% - 50px)
    transform: rotate(90deg)
  .course-program
    &__swich-type
      flex-wrap: wrap
      justify-content: center
    &__swich-type li
      border-bottom: 1px solid transparent
    &__swich-type li.active
      border-bottom: 1px solid #f4f3f5
  .course-designer
    &__form-contacts
      flex-wrap: wrap
      .intermediate_item
        margin-top: 30px
        input
            width: 300px
    &__form-contacts .intermediate_item input[type="submit"]
      width: 300px
  //.course-designer
    &__items-wrap
      border-top: 2px solid #f4f3f5
      border-bottom: 2px solid #f4f3f5
      border-left: none
      padding: 40px 0
      input
        font-family: $ProximaNova-Semibold
        font-size: 17px
      i
        float: right
    &__courses-finish
      display: none
    &__courses-chosed
      display: none
    &__items-chosed
      padding: 50px 15px
    &__items-chosed
      .course-designer__items-wrap i
        font-size: 12px
        float: inherit
        margin-right: 20px
  .course-schedule
    .tab-content
      padding-bottom: 35px
      border-left: 1px solid #f4f3f5
      border-right: 1px solid #f4f3f5
      border-bottom: 1px solid #f4f3f5
    .tab-content.col-sm-12
      border-bottom: 1px solid transparent
    .tab-content__wrap
      flex-direction: column
      //padding: 55px 80px 80px 80px
    &__date-info
      padding: 0 80px
    &__course-info_wrap:after
      display: none
    &__speaker-info
      padding-bottom: 60px
      border-bottom: 2px solid #f4f3f5
  //popUp
  .form
    padding: 35px 60px 35px 60px
  .mfp-close
    right: 0
    top: 0
  .mfp-container
    margin: 0 auto
  .mfp-close-btn-in .mfp-close:active
    top: 0
  .popup-course-description__name
    padding: 0 20px
  .popup-course-description__name-course
    font-size: 20px
  .popup-course-description__detals-accent
    margin-top: 25px
    margin-bottom: 20px
    font-size: 18px
  .popup-course-description__detals
    font-size: 14px
  .popup-course-description__process
    margin: 10px 0 8px 0
  .popup-course-description__process-stages li + li
    margin-top: 10px

@media only screen and (max-width : 650px)

  /**/
  .after-study
    &__advantages-list
      span
        margin: 0 auto
        display: block
      p
        font-size: 15px
        text-align: center
        display: block
  .course-designer
    &__items-wrap
      width: 100%
    &__courses-name
      text-align: center
    &__form-contacts
      flex-direction: column
      align-items: center
    &__items-chosed
      margin-top: 150px
    &__form-contacts-single
      display: none
    &__accept
      display: block
      width: 100%
      text-align: center
      font-family: $ProximaNova-Light
      color: #9d9d9d
      font-size: 22px
    &__form-slider
      display: block
    &__form-contacts .intermediate_item input
      width: 260px
    &__form-contacts .intermediate_item input[type="submit"]
      width: 260px
    .owl-nav
      width: 100%
    .owl-dots
      position: absolute
      top: 28px
      left: 0
      right: 0
    .owl-dot
      position: relative
      font-size: 18px
      color: #9d9d9d
      & + .owl-dot
        margin-left: 43px
      &:not(:last-child)
        &:before
          position: absolute
          content: "\f061"
          font-family: "FontAwesome"
          font-size: 14px
          left: 25px
          top: 3px
          color: #d3d3d3
    #course-designer__name-block
      .course-designer__up
        top: 35px
    &__items-chosed
      .course-designer__up
        top: -40px
    .owl-dot.active
        color: #000
        &:before
          color: $accent_color
    .owl-carousel .owl-nav .owl-prev
      display: none
    .owl-theme .owl-nav [class*=owl-]
      background: transparent
    .owl-next.disabled
      transition: opacity .3s
      opacity: 0

  .course-schedule
    &__dates li
      padding: 15px 11px
    &__course-info
      padding: 55px 40px 40px 40px
    &__speaker-info p
      vertical-align: middle
      margin-left: 30px
    &__speaker-info p span
      margin-left: 0
      display: block
      vertical-align: middle
    &__date-info
      padding: 0 60px
  //form
  .form
    &:after
      right: -200px
    &:before
      left: -200px
@media only screen and (max-width : 520px)
  /**/
  .top-section
    background-position: 100% 36%
    padding: 110px 5px 0 5px
    height: 850px
    &__content
      width: 100%
      top: calc(50% - 288px)
      position: inherit
    &__title
      font-size: 38px
  //3.after-study
  .after-study__advantages-title
    font-size: 17px
  //4.our-programs
  .our-programs
    .nav-tabs li + li
      margin-left: 20px
    .nav-tabs
      font-size: 12px
    &__pogram_wrap
      padding: 30px 20px 20px 20px
    &__pogram
      flex-direction: column
      align-items: center
      text-align: center
    &__name
      margin: 0
    &__name-course
      font-size: 20px
    &__pogram
      padding-bottom: 0
    &__contract
      margin-top: 25px
  //5.course-designer
  //.course-designer
    &__courses-name
      margin-bottom: 10px
    &__items-chosed
      margin-top: 25px
    &__form-contacts
      margin-top: 20px
      display: flex
      align-items: center
      flex-direction: column
      .intermediate_item
        margin-top: 25px
  .course-program
    &__info_wrap
      flex-direction: column
    &__info
      margin: 10px 0 15px 0
      align-items: center
      text-align: center
      width: 100%
    &__item-info
      margin-left: 30px
    &__item + .course-program__item
      margin-top: 30px
  //popUp
  .form
    padding: 5px 30px 5px 30px
    .modal-title
      font-size: 20px
  .popup-course-description__pogram
    flex-direction: column
    //justify-content: center
  .popup-course-description
    width: 95%
  .popup-course-description .form
    padding: 15px 15px 20px 15px
  .header__mob-menu
    &:after
      right: -200px
    &:before
      left: -200px
  .world-leaders
    &__tabs
      height: 380px
    &__leaders-content-title
      font-size: 19px
    &__leaders-content-blockquote
      font-size: 18px
    &__leaders-content
      border-radius: inherit
      height: 783px
      width: 100%
      box-shadow: none
      //box-shadow: 0 36px 133px rgba(115, 1, 243, 0.13)
      background: url("../img/world-leaders-bg.png") no-repeat center
      background-size: cover
    &__leaders-photo
      li
        img
          width: 50%
@media only screen and (max-width : 480px)
  .after-study
    background-position-x: -270px;
  .course-designer
    &__text
      width: 100%
      margin-bottom: 50px
    &__items-list
      width: 100%
    &__items-chosed
      flex-direction: column
      align-items: center
      .course-designer__up
        top: 90px
        left: 0
        right: 0
      .course-designer__down
        left: 0
        right: 0
@media only screen and (max-width : 320px)
  .world-leaders
    &__tabs
      height: 180px
    &__leaders-photo
      li:nth-child(1)
        top: 73px
        left: 0
      li:nth-child(2)
        top: 57px
        left: 79px
      li:nth-child(3)
        top: 0
        left: 20px
      li:nth-child(4)
        top: 175px
        left: 184px
      li:nth-child(5)
        top: 0
        left: 125px
      li:nth-child(6)
        top: 174px
        left: 55px
      li:nth-child(7)
        top: 50px
        right: 0
      li:nth-child(8)
        top: 150px
        right: 200px
      li:nth-child(9)
        top: 68px
        right: 40px
      li:nth-child(10)
        top: 138px
        right: 70px
      li:nth-child(11)
        top: 97px
        right: 120px
      li:nth-child(12)
        top: 115px
        right: 19px
