$ProximaNova-Bold: "ProximaNova-Bold",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif
$ProximaNova-Extrabold: "ProximaNova-Extrabold",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif
$ProximaNova-Light: "ProximaNova-Light",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif
$ProximaNova-LightIt: "ProximaNova-LightIt",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif
$ProximaNova-Regular: "ProximaNova-Regular",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif
$ProximaNova-Semibold: "ProximaNova-Semibold",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif

//$scroll_barr_color: #5b6ceb
//$text_header_hover-color: #5363db
$bgColor: #fff

$text_white_color: #fff
$text_black_color: #000
$text_light-gray_color: #7f7f7f
$text_lightest-gray_color: #9e9e9e

$accent_color: #ffec00

//$text_accent_color: #5363db
//$text_copyright_color: #b7bffc

@mixin hover_link()
  content: " "
  position: absolute
  top: 22px
  height: 2px
  width: 0
  background-color: $accent_color
  transition: width 0.2s ease-in-out

@mixin underline_text()
  &:before
    content: ""
    position: absolute
    bottom: -15px
    left: 0
    width: 80px
    height: 3px
    background-color: $accent_color

@mixin rhomb()
  content: ""
  position: absolute
  transform: rotate(45deg)
  top: -124px
  left: -122px
  width: 250px
  height: 250px
  background-image: repeating-radial-gradient(center center, $text_light-gray_color, $text_light-gray_color 2px, transparent 2px, transparent 100%)
  background-size: 18px 18px
  z-index: -1

@mixin circle()
  content: ""
  position: absolute
  bottom: -212px
  right: -557px
  border-radius: 50%
  width: 635px
  height: 635px
  background-image: repeating-radial-gradient(center center, $text_light-gray_color, $text_light-gray_color 2px, transparent 2px, transparent 100%)
  background-size: 18px 18px
  z-index: -1