@import "fonts"
@import "vars"
@import "sprite"
@import "default"
@import "part"
@import "header"

// Секция top-section
.top-section
  //text-align: center
  min-height: 600px
  height: calc(100vh - 107px)
  background: url(../img/top_section-bg.png) no-repeat right
  //background-size: cover
  padding: 150px 0 65px 0
  &__title
    color: red
    position: absolute
    top: calc(50% - 50px)
    left: 0
    right: 0
    &:before
      content: ""
      display: block
      //@include sprite($mail_to)