// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$it-entrepreneurs-ic-name: 'it_entrepreneurs_ic'
$it-entrepreneurs-ic-x: 121px
$it-entrepreneurs-ic-y: 40px
$it-entrepreneurs-ic-offset-x: -121px
$it-entrepreneurs-ic-offset-y: -40px
$it-entrepreneurs-ic-width: 35px
$it-entrepreneurs-ic-height: 41px
$it-entrepreneurs-ic-total-width: 157px
$it-entrepreneurs-ic-total-height: 97px
$it-entrepreneurs-ic-image: '../img/sprite.png'
$it-entrepreneurs-ic: (121px, 40px, -121px, -40px, 35px, 41px, 157px, 97px, '../img/sprite.png', 'it_entrepreneurs_ic', )
$it-specialist-ic-name: 'it_specialist_ic'
$it-specialist-ic-x: 40px
$it-specialist-ic-y: 38px
$it-specialist-ic-offset-x: -40px
$it-specialist-ic-offset-y: -38px
$it-specialist-ic-width: 36px
$it-specialist-ic-height: 40px
$it-specialist-ic-total-width: 157px
$it-specialist-ic-total-height: 97px
$it-specialist-ic-image: '../img/sprite.png'
$it-specialist-ic: (40px, 38px, -40px, -38px, 36px, 40px, 157px, 97px, '../img/sprite.png', 'it_specialist_ic', )
$managers-ic-name: 'managers_ic'
$managers-ic-x: 0px
$managers-ic-y: 40px
$managers-ic-offset-x: 0px
$managers-ic-offset-y: -40px
$managers-ic-width: 38px
$managers-ic-height: 42px
$managers-ic-total-width: 157px
$managers-ic-total-height: 97px
$managers-ic-image: '../img/sprite.png'
$managers-ic: (0px, 40px, 0px, -40px, 38px, 42px, 157px, 97px, '../img/sprite.png', 'managers_ic', )
$managers-massege-ic-name: 'managers_massege_ic'
$managers-massege-ic-x: 81px
$managers-massege-ic-y: 0px
$managers-massege-ic-offset-x: -81px
$managers-massege-ic-offset-y: 0px
$managers-massege-ic-width: 40px
$managers-massege-ic-height: 36px
$managers-massege-ic-total-width: 157px
$managers-massege-ic-total-height: 97px
$managers-massege-ic-image: '../img/sprite.png'
$managers-massege-ic: (81px, 0px, -81px, 0px, 40px, 36px, 157px, 97px, '../img/sprite.png', 'managers_massege_ic', )
$product-managers-ic-name: 'product_managers_ic'
$product-managers-ic-x: 81px
$product-managers-ic-y: 36px
$product-managers-ic-offset-x: -81px
$product-managers-ic-offset-y: -36px
$product-managers-ic-width: 40px
$product-managers-ic-height: 36px
$product-managers-ic-total-width: 157px
$product-managers-ic-total-height: 97px
$product-managers-ic-image: '../img/sprite.png'
$product-managers-ic: (81px, 36px, -81px, -36px, 40px, 36px, 157px, 97px, '../img/sprite.png', 'product_managers_ic', )
$product-owners-ic-name: 'product_owners_ic'
$product-owners-ic-x: 0px
$product-owners-ic-y: 0px
$product-owners-ic-offset-x: 0px
$product-owners-ic-offset-y: 0px
$product-owners-ic-width: 40px
$product-owners-ic-height: 40px
$product-owners-ic-total-width: 157px
$product-owners-ic-total-height: 97px
$product-owners-ic-image: '../img/sprite.png'
$product-owners-ic: (0px, 0px, 0px, 0px, 40px, 40px, 157px, 97px, '../img/sprite.png', 'product_owners_ic', )
$project-manager-ic-name: 'project_manager_ic'
$project-manager-ic-x: 40px
$project-manager-ic-y: 0px
$project-manager-ic-offset-x: -40px
$project-manager-ic-offset-y: 0px
$project-manager-ic-width: 41px
$project-manager-ic-height: 38px
$project-manager-ic-total-width: 157px
$project-manager-ic-total-height: 97px
$project-manager-ic-image: '../img/sprite.png'
$project-manager-ic: (40px, 0px, -40px, 0px, 41px, 38px, 157px, 97px, '../img/sprite.png', 'project_manager_ic', )
$sign-in-ic-name: 'sign_in_ic'
$sign-in-ic-x: 0px
$sign-in-ic-y: 82px
$sign-in-ic-offset-x: 0px
$sign-in-ic-offset-y: -82px
$sign-in-ic-width: 14px
$sign-in-ic-height: 15px
$sign-in-ic-total-width: 157px
$sign-in-ic-total-height: 97px
$sign-in-ic-image: '../img/sprite.png'
$sign-in-ic: (0px, 82px, 0px, -82px, 14px, 15px, 157px, 97px, '../img/sprite.png', 'sign_in_ic', )
$starters-companies-ic-name: 'starters_companies_ic'
$starters-companies-ic-x: 121px
$starters-companies-ic-y: 0px
$starters-companies-ic-offset-x: -121px
$starters-companies-ic-offset-y: 0px
$starters-companies-ic-width: 36px
$starters-companies-ic-height: 40px
$starters-companies-ic-total-width: 157px
$starters-companies-ic-total-height: 97px
$starters-companies-ic-image: '../img/sprite.png'
$starters-companies-ic: (121px, 0px, -121px, 0px, 36px, 40px, 157px, 97px, '../img/sprite.png', 'starters_companies_ic', )
$tringle-name: 'tringle'
$tringle-x: 14px
$tringle-y: 82px
$tringle-offset-x: -14px
$tringle-offset-y: -82px
$tringle-width: 16px
$tringle-height: 13px
$tringle-total-width: 157px
$tringle-total-height: 97px
$tringle-image: '../img/sprite.png'
$tringle: (14px, 82px, -14px, -82px, 16px, 13px, 157px, 97px, '../img/sprite.png', 'tringle', )
$spritesheet-width: 157px
$spritesheet-height: 97px
$spritesheet-image: '../img/sprite.png'
$spritesheet-sprites: ($it-entrepreneurs-ic, $it-specialist-ic, $managers-ic, $managers-massege-ic, $product-managers-ic, $product-owners-ic, $project-manager-ic, $sign-in-ic, $starters-companies-ic, $tringle, )
$spritesheet: (157px, 97px, '../img/sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
