extends ../base
block title
    | внутренняя страница
block main
    main#my-content
        section.next-course#top-section
            .next-course__content
                p.next-course__begin Старт курса:
                    span.next-course__begin-date 15 Декабря
                h1.next-course__title IT Project Management
                ul.next-course__info
                    li 40 часов
                    li 3000 грн – 110$
                    li Вт, Чт \ 2 часа вечером
                    li Онлайн или офлайн
                button.button__type_2 Записаться на курс
        section.what-get#what-get
            .container
                .row
                    .col-md-12.col-sm-12
                        h2.what-get__title Что вы получите?
                    .col-md-7.col-sm-12
                        ul.after-study__advantages-list
                            li
                                span 01
                                p Полное понимание процесса разработки
                            li
                                span 02
                                p Знания инструментов Project management
                            li
                                span 03
                                p Как правильно подбирать специалистов
                            li
                                span 04
                                p Опыт работы с командой
                            li
                                span 05
                                p Методы работы с клиентами
                            li
                                span 06
                                p Навыки успешных переговоров
                    .col-md-7.col-sm-12.col-md-offset-5.col-sm-offset-0
                        ul.after-study__advantages-list.what-get__advantages-list_mt
                            li
                                span 07
                                p Создание и продвижение идей для своих IT-продуктов
                            li
                                span 08
                                p Обучитесь мастерству создавать продающие презентации
                            li
                                span 09
                                p Изучите технику продаж
                            li
                                span 10
                                p Научитесь эффективно использовать инструменты интернет маркетинга
                            li
                                span 11
                                p Получите стимул в профессиональном и личностном росте
                            li
                                span 12
                                p Способы самомотивации и мотивации команды
        section.about-course#about-course
            .container
                .row
                    .col-md-12.col-sm-12
                        h2.about-course__title О курсе
                    .col-lg-7.col-md-10.col-sm-12.clearfix
                        .about-course__description
                            p Проектный менеджер – это не только умелое планирование, постановка задач и контроль сроков и качества работы. Вместе с тем, в первую очередь, – это продажа самой идеи. От эффективности проджект-менеджера напрямую зависит судьба компании на рынке: ее репутация, успехи и  будущее.
                    .col-md-10.col-sm-12.col-md-offset-1
                        #video.video
                            .video__bg
                            video(src="video/video.mp4" height="526")
                            a.video__play-pause(id="play-pause")
                        .col-lg-8.col-md-10.col-sm-12.col-lg-offset-4.col-md-offset-2.about-course__description-right-bg
                            p.about-course__description-right
                                | MIT представляет онлайн-курс
                                span.about-course__description_accent IT Project Management.
                                |В нем было собрано все, что нужно знать успешному управленцу:
                                |Ведение проектов;
                                |Управление и успешная коммуникация с командой;
                                |Создание продукта;
                                |Выполнение стратегических, операционных, тактических проектных задач;
                                |Правильная коммуникация с заказчиками;
                                |Организация работы команды;
                                |Ведение отчетности;
                                |Риск-менеджмент;
                                |Управление изменениями в проектах.
                                |В онлайн-курсе также будут разобраны такие инструменты и методологии как Waterfall, SCRUM, XP, Kanban, Lean. После прохождения курса Вы без труда сможете реализовывать как собственные, так и менеджерские проекты вовремя, не выходя за рамки бюджета.
        section.who-wait#who-wait
            .container.container__custom-padding
                .who-wait__wrap
                    .row
                        .col-md-12.col-sm-12
                            h2.who-wait__title Кого мы ждем
                    .row
                        .who-wait__items-wrap
                            .col-md-4
                                img.who-wait__item-ic(src="img/project_manager_ic.png" alt="project_manager_ic")
                                p.who-wait__item-text Для начинающих менеджеров проектов
                            .col-md-4
                                img.who-wait__item-ic(src="img/product_owners_ic.png" alt="product_owners_ic")
                                p.who-wait__item-text Для IT специалистов, которые хотят вырасти до менеджера проектов
                            .col-md-4
                                img.who-wait__item-ic(src="img/it_specialist_ic.png" alt="it_specialist_ic")
                                p.who-wait__item-text Будущих продуктовых менеджеров
                    .row
                        .who-wait__items-wrap
                            .col-md-4
                                img.who-wait__item-ic(src="img/starters_companies_ic.png" alt="starters_companies_ic")
                                p.who-wait__item-text Руководителей команд
                            .col-md-4
                                img.who-wait__item-ic(src="img/managers_ic.png" alt="managers_ic")
                                p.who-wait__item-text Бизнес аналитиков
                            .col-md-4
                                img.who-wait__item-ic(src="img/it_entrepreneurs_ic.png" alt="it_entrepreneurs_ic")
                                p.who-wait__item-text Стартаперов
        section.course-schedule#course-schedule
            .container
                .row
                    .col-md-12.col-sm-12
                        h2.course-schedule__title Расписание курса
                .row
                    .course-schedule__swich-type_wrap
                        ul.course-schedule__swich-type
                            li.test
                                a(href='#Online', data-toggle='tab') Online
                            li.active
                                a(href='#Offline', data-toggle='tab') Offline
                .row
                    .tab-content.col-sm-12
                        #Online.tab-pane.active
                            div.course-schedule__nav
                                .course-schedule__left
                                    i.fa.fa-chevron-left
                                .course-schedule__right
                                    i.fa.fa-chevron-right
                                ul(role='tablist').course-schedule__dates.nav-tabs
                                    li.active(role='date-online-1')
                                        a(href='#date-online-1', aria-controls='date-online-1', role='tab', data-toggle='tab') 15
                                            span декабря
                                    li(role='date-online-2')
                                        a(href='#date-online-2', aria-controls='date-online-2', role='tab', data-toggle='tab') 09
                                            span Ноября
                                    li(role='date-online-3')
                                        a(href='#date-online-3', aria-controls='date-online-3', role='tab', data-toggle='tab') 14
                                            span Ноября
                                    li(role='date-online-4')
                                        a(href='#date-online-4', aria-controls='date-online-4', role='tab', data-toggle='tab') 16
                                            span Ноября
                                    li(role='date-online-5')
                                        a(href='#date-online-5', aria-controls='date-online-5', role='tab', data-toggle='tab') 21
                                            span Ноября
                                    li(role='date-online-6')
                                        a(href='#date-online-6', aria-controls='date-online-6', role='tab', data-toggle='tab') 23
                                            span Ноября
                                    li(role='date-online-7')
                                        a(href='#date-online-7', aria-controls='date-online-7', role='tab', data-toggle='tab') 28
                                            span Ноября
                                    li(role='date-online-8')
                                        a(href='#date-online-8', aria-controls='date-online-8', role='tab', data-toggle='tab') 30
                                            span Ноября
                                    li(role='date-online-9')
                                        a(href='#date-online-9', aria-controls='date-online-9', role='tab', data-toggle='tab') 05
                                            span Декабря
                                    li(role='date-online-10')
                                        a(href='#date-online-10', aria-controls='date-online-10', role='tab', data-toggle='tab') 05
                                            span Декабря
                                    li(role='date-online-11')
                                        a(href='#date-online-11', aria-controls='date-online-11', role='tab', data-toggle='tab') 05
                                            span Декабря
                                    
                                    
                                // Tab panes
                                .tab-content
                                    #date-online-1.tab-pane.active(role='tabpanel-online')
                                        .tab-content__wrap
                                            .course-schedule__course-info.col-lg-9
                                                .course-schedule__course-info_wrap
                                                    p.course-schedule__name Старт модуля Управление командой
                                                    p.course-schedule__name-descriprion Концепция ментально оспособляет закон внешнего мира. Сомнение раскладывает на элементы неоднозначный структурализм.
                                                    .course-schedule__speaker-info
                                                        img(src="img/speacer.png" alt="Владими Озирный").course-schedule__speaker-photo
                                                        p.speaker-name Спикер:
                                                            span Владими Озирный
                                            .course-schedule__date-info.col-lg-3
                                                span.course-schedule__date 19:30 - 21:00
                                                span.course-schedule__duration Длительность 1,5 часа

                                    #date-online-2.tab-pane(role='tabpanel-online')
                                        p online 2
                                    #date-online-3.tab-pane(role='tabpanel-online')
                                        p online 3
                                    #date-online-4.tab-pane(role='tabpanel-online')
                                        p online 4
                                    #date-online-5.tab-pane(role='tabpanel-online')
                                        p online 5
                                    #date-online-6.tab-pane(role='tabpanel-online')
                                        p online 6
                                    #date-online-7.tab-pane(role='tabpanel-online')
                                        p online 7
                                    #date-online-8.tab-pane(role='tabpanel-online')
                                        p online 8
                                    #date-online-9.tab-pane(role='tabpanel-online')
                                        p online 9
                                    #date-online-10.tab-pane(role='tabpanel-online')
                                        p online 10
                                    #date-online-11.tab-pane(role='tabpanel-online')
                                        p online 11
                        #Offline.tab-pane.active
                           div.course-schedule__nav
                                .course-schedule__left
                                    i.fa.fa-chevron-left
                                .course-schedule__right
                                    i.fa.fa-chevron-right

                                ul(role='tablist').course-schedule__dates.nav-tabs
                                    li.active(role='date-offline-1')
                                        a(href='#date-offline-1', aria-controls='date-offline-1', role='tab', data-toggle='tab') 15
                                            span декабря
                                    li(role='date-offline-2').course-schedule__dates-disabled
                                        a(href='#date-offline-2', aria-controls='date-offline-2', role='tab', data-toggle='tab') 09
                                            span Ноября
                                    li(role='date-offline-3').course-schedule__dates-disabled
                                        a(href='#date-offline-3', aria-controls='date-offline-3', role='tab', data-toggle='tab') 14
                                            span Ноября
                                    li(role='date-offline-4').course-schedule__dates-disabled
                                        a(href='#date-offline-4', aria-controls='date-offline-4', role='tab', data-toggle='tab') 16
                                            span Ноября
                                    li(role='date-offline-5')
                                        a(href='#date-offline-5', aria-controls='date-offline-5', role='tab', data-toggle='tab') 21
                                            span Ноября
                                    li(role='date-offline-6')
                                        a(href='#date-offline-6', aria-controls='date-offline-6', role='tab', data-toggle='tab') 23
                                            span Ноября
                                    li(role='date-offline-7')
                                        a(href='#date-offline-7', aria-controls='date-offline-7', role='tab', data-toggle='tab') 28
                                            span Ноября
                                    li(role='date-offline-8')
                                        a(href='#date-offline-8', aria-controls='date-offline-8', role='tab', data-toggle='tab') 30
                                            span Ноября
                                    li(role='date-offline-9')
                                        a(href='#date-offline-9', aria-controls='date-offline-9', role='tab', data-toggle='tab') 05
                                            span Декабря
                                    li(role='date-offline-10')
                                        a(href='#date-offline-10', aria-controls='date-offline-10', role='tab', data-toggle='tab') 05
                                            span Декабря
                                    li(role='date-offline-11')
                                        a(href='#date-offline-11', aria-controls='date-offline-11', role='tab', data-toggle='tab') 05
                                            span Декабря
                                .tab-content
                                    #date-offline-1.tab-pane.active(role='tabpanel-offline')
                                        .tab-content__wrap
                                            .course-schedule__course-info.col-lg-9
                                                .course-schedule__course-info_wrap
                                                    p.course-schedule__name Старт модуля Управление командой
                                                    p.course-schedule__name-descriprion Концепция ментально оспособляет закон внешнего мира. Сомнение раскладывает на элементы неоднозначный структурализм.
                                                    .course-schedule__speaker-info
                                                        img(src="img/speacer.png" alt="Владими Озирный").course-schedule__speaker-photo
                                                        p.speaker-name Спикер:
                                                            span Владими Озирный
                                            .course-schedule__date-info.col-lg-3
                                                span.course-schedule__date 19:30 - **:**
                                                span.course-schedule__duration Длительность 1,5 часа

                                    #date-offline-2.tab-pane(role='tabpanel-offline')
                                        p offline 2
                                    #date-offline-3.tab-pane(role='tabpanel-offline')
                                        p offline 3
                                    #date-offline-4.tab-pane(role='tabpanel-offline')
                                        p offline 4
                                    #date-offline-5.tab-pane(role='tabpanel-offline')
                                        p offline 5
                                    #date-offline-6.tab-pane(role='tabpanel-offline')
                                        p offline 6
                                    #date-offline-7.tab-pane(role='tabpanel-offline')
                                        p offline 7
                                    #date-offline-8.tab-pane(role='tabpanel-offline')
                                        p offline 8
                                    #date-offline-9.tab-pane(role='tabpanel-offline')
                                        p offline 9 
                                    #date-offline-10.tab-pane(role='tabpanel-offline')
                                        p offline 10
                                    #date-offline-11.tab-pane(role='tabpanel-offline')
                                        p offline 11
        section.career#career
            .container
                .row
                    .col-md-12.col-sm-12
                        h2.career__title Карьерный рост it pm
                .row
                    .col-sm-3.col-xs-12.career__item
                        .career__item-wrap
                            span.career__step 01
                            p.career__position Project manager
                    .col-sm-3.col-xs-12.career__item
                        .career__item-wrap
                            span.career__step 02
                            p.career__position Program manager
                    .col-sm-3.col-xs-12.career__item
                        .career__item-wrap
                            span.career__step 03
                            p.career__position Project portfolio manager
                    .col-sm-3.col-xs-12.career__item
                        .career__item-wrap
                            span.career__step 04
                            p.career__position ТОП менеджмент
        section.teachers#teachers
            .container
                .row
                    .col-sm-12.col-xs-12
                        h2.teachers__title Ведущие программы
                .row
                    #teachesr__slider.owl-carousel.owl-theme
                        .item
                            .teachers__item.col-sm-6.col-xs-12
                                img(src="img/teacers_slide_1.jpg" alt="Владими Озирный").teachers__photo
                                .teachers__social_wrap
                                    a(href="#").teachers__social
                                        i.fa.fa-facebook
                                    a(href="#").teachers__social
                                        i.fa.fa-linkedin
                                p.teachers__name Богдан Густиков
                                span.teachers__position CEO Dizz Agency/ Say-Hi
                                p.teachers__position В IT и маркетинге, в продажах 11 дет. Опыт управление 20+ человек. Владелец Dizz Agency по созданию и эффективному продвижению бизнесов в интернете. Сооснователь издания Say-Hi. В месяц посещают 200 000 уникальных поситителей на сайт 100 000 подписчиков в соц.сетях. Разработано и продвинуто более 200 успешных проектов. Роботает с компаниями Америки, Канады, Европы и странами СНГ. Проходил обучение у лидеров маркетинг-индустрии – Игорь Манн, Александр Левитас, Фрэнк Керн

                            .teachers__item.col-sm-6.col-xs-12
                                img(src="img/teacers_slide_2.jpg" alt="Владими Озирный").teachers__photo
                                .teachers__social_wrap
                                    a(href="#").teachers__social
                                        i.fa.fa-facebook
                                    a(href="#").teachers__social
                                        i.fa.fa-linkedin
                                p.teachers__name Владимир Озирный
                                span.teachers__position IT PM Dizz Agency
                                span.teachers__position Работал в Scrum/Kanban Опыт в IT до 2 лет  Опыт успешного управления командой до 10 человек Был разработан продукт – онлайн-трансляции проведения тренинга с возможностью общения с тренером
                        .item
                            .teachers__item.col-sm-6.col-xs-12
                                img(src="img/teacers_slide_1.jpg" alt="Богдан Густиков").teachers__photo
                                .teachers__social_wrap
                                    a(href="#").teachers__social
                                        i.fa.fa-facebook
                                    a(href="#").teachers__social
                                        i.fa.fa-linkedin
                                p.teachers__name Богдан Густиков
                                span.teachers__position IT PM in Dizz Agency
                            .teachers__item.col-sm-6.col-xs-12
                                img(src="img/teacers_slide_2.jpg" alt="Владимир Озирный").teachers__photo
                                .teachers__social_wrap
                                    a(href="#").teachers__social
                                        i.fa.fa-facebook
                                    a(href="#").teachers__social
                                        i.fa.fa-linkedin
                                p.teachers__name Владимир Озирный
                                span.teachers__position SEO Dizz Agency / Say-hi
        section.course-program
            .container
                .row
                    .col-sm-12.col-xs-12
                        h2.course-program__title Программа курса
                        p.course-program__name Курс:
                            span.course-program__name_accent IT Project manager
                .row
                    .col-sm-12.col-xs-12
                        ul.course-program__swich-type
                            li.active
                                a(href='#all-course', data-toggle='tab') Вся программа
                            li
                                a(href='#project-management-course', data-toggle='tab') Управление проектами
                            li
                                a(href='#team-management-course', data-toggle='tab') Управление командой
                            li
                                a(href='#working-client-course', data-toggle='tab') Работа с клиентом
                            li
                                a(href='#marketing-course', data-toggle='tab') Маркетинг
                            li
                                a(href='#sales-course', data-toggle='tab') Продажи

                .row
                    .tab-content
                        #all-course.tab-pane.active
                            .course-program__info_wrap
                                .course-program__info.course-program__price
                                    p Стоимость модуля:
                                    span 3 000 грн
                                .course-program__info.course-program__length
                                    P Длительность модуля:
                                    span 40 часов
                            .course-program__steps_wrap
                                .course-program__steps
                                    ul
                                        li.course-program__item 01. Введение в профессию IT Project manager
                                            ul.course-program__item-info
                                                li Терминология PM
                                                li Методологии в управлении проектами
                                                li Навыки и качества для ПМ
                                                li Методика постановки целей SMART
                                                li Профессии в IT
                                                li О профессии. Примеры
                                                li Виды ПМ и их задачи
                                        li.course-program__item 02. Инициация проекта (реальный или тестовый)
                                            ul.course-program__item-info
                                                li Реальный от нас
                                                li Реальный от себя
                                                li Работа с Веб-студиями, Агенциями, Фрилансерами
                                        li.course-program__item 03. Процесс разработки It проекта (веб сайт, моб.приложение, продукт)
                                            ul.course-program__item-info
                                                li Анализ и исследование рынка
                                                li Структура
                                                li Прототип
                                                li Дизайн
                                                li Верстка
                                                li Программирование
                                                li Тестирование
                                                li Наполнение
                                                li Поддержка
                                        li.course-program__item 04. Работа с методологиями и инструментами
                                            ul.course-program__item-info
                                                li Waterfall, Agile: Scrum, Kanban, XP,  Lean
                                                li Trello, Asana, Jira, MS Project, Telegram
                                        li.course-program__item 05. Работа с документацией
                                            ul.course-program__item-info
                                                li Написание коммерческого предложения
                                                li Юридические документы - договора
                                                li Технические документы - ТЗ, брифы
                                        li.course-program__item 06. Работа с командой (+удаленка)
                                            ul.course-program__item-info
                                                li Управление командой разработки
                                                li Управление удаленной командой
                                        li.course-program__item 07. Работа с клиентами
                                            ul.course-program__item-info
                                                li Работа с требованиями
                                                li Телефонная связь с клиентом
                                                li Общение в электронной почте
                                                li Работа в мессенджерах
                                                li Работа с пожеланиями
                                                li Работа с негативом (с жидами)
                                        li.course-program__item 08. Работа с продажами и презентацией
                                            ul.course-program__item-info
                                                li Подготовка презентации
                                                li Холодные, теплые и горячие продажи
                                                li Up sale, Cross sale и Down sale
                                .course-program__steps
                                    ul
                                        li.course-program__item 09. Мотивация и коучинг
                                            ul.course-program__item-info
                                                li Разработка модели мотивации
                                                li Коучинг - как основа выживания в IT
                                                li Модель коммуникации в команде
                                        li.course-program__item 10. Риск менеджмент
                                            ul.course-program__item-info
                                                li Реестр рисков
                                                li Работа с рисками
                                        li.course-program__item 11. Аналитика и аудит
                                            ul.course-program__item-info
                                                li Маркетинговое исследование
                                                li Техническое исследование
                                                li Обработка данных анализа
                                        li.course-program__item 12. Введение в маркетинг
                                            ul.course-program__item-info
                                                li Виды маркетинга и терминология (основы SEO, SMM, Контекста, Ремаркетинг)
                                        li.course-program__item 13. Послепроектная поддержка
                                            ul.course-program__item-info
                                                li Техническая поддержка
                                                li Веб-консалтинг
                                        li.course-program__item 14. Ценообразование
                                            ul.course-program__item-info
                                                li Справедливое ценообразование
                                                li Обоснование цены клиенту
                                                li Мультипликатор цен
                                                li Работа со скидках
                                        li.course-program__item 15. Психология (команда, клиенты, стейкхолдеры)
                                            ul.course-program__item-info
                                                li Психология клиента
                                                li Психология команды
                                                li Психология заинтересованных лиц
                                                li 5 способов выйти из битвы победителем
                                                li Риторика
                                                li Личностное развитие
                                                li Защита от профессионального выгорания
                                                li Креатив
                                                li Литература, фильмы, книги
                                        li.course-program__item 16. Факапы и разбор кейсов
                                            ul.course-program__item-info
                                                li Факапы Юмилашес, Чехов, Лавриновичей, Виртуоз, Эстетика, НЛП
                                        li.course-program__item 17. Уникальные методики по работе с командой и клиентами
                                            ul.course-program__item-info
                                        li.course-program__item 18. Трудоустройство PM
                                            ul.course-program__item-info
                                                li Подготовка презентации
                                                li Холодные, теплые и горячие продажи
                                                li Up sale, Cross sale и Down sale
                                        li.course-program__item 19. Закрытие проекта
                                            ul.course-program__item-info
                                                li Передача всех прав клиенту
                                                li Подписание всех документов
                        #project-management-course.tab-pane
                            p 2
                        #team-management-course.tab-pane
                            p 3
                        #working-client-course.tab-pane
                            p 4
                        #marketing-course.tab-pane
                            p 5
                        #sales-course.tab-pane
                            p 6
        section.course-designer#course-designer
            .container
                .row
                    .col-sm-12
                        h2.course-designer__title Конструктор курса
                .row
                    .col-lg-8
                        p.course-designer__manual Выбирите тип курса и его составляющие, для того что бы записаться и обучаться тому, чего хотите именно вы.
            .container
                form
                    .course-designer__items
                        .course-designer__builder#course-designer__slider.owl-carousel.owl-theme
                            .course-designer__items-wrap#course-designer__name
                                p.course-designer__courses-name Название курса

                                a(href="#").course-designer__up
                                    i.fa.fa-chevron-up
                                a(href="#").course-designer__down
                                    i.fa.fa-chevron-down
                                .course-designer__scroll
                                    span.course-designer__cours-name Project Managment (Online)
                                        input(type="checkbox" value="Project Managment (Online)" id="managment-online")
                                        label(for="managment-online")
                                        i.fa.fa-long-arrow-right
                                    span.course-designer__cours-name Project Managment (Offline)
                                        input(type="checkbox" value="Project Managment (Offline)" id="managment-offline")
                                        label(for="managment-offline")
                                        i.fa.fa-long-arrow-right
                                    span.course-designer__cours-name Project Managment (Offline)
                                        input(type="checkbox" value="Project Managment (Offline)" id="managment-offline")
                                        label(for="managment-offline")
                                        i.fa.fa-long-arrow-right
                                    span.course-designer__cours-name Project Managment (Offline)
                                        input(type="checkbox" value="Project Managment (Offline)" id="managment-offline")
                                        label(for="managment-offline")
                                         i.fa.fa-long-arrow-right
                                    span.course-designer__cours-name Project Managment (Offline)
                                        input(type="checkbox" value="Project Managment (Offline)" id="managment-offline")
                                        label(for="managment-offline")
                                        i.fa.fa-long-arrow-right
                                    span.course-designer__cours-name Project Managment (Offline)
                                        input(type="checkbox" value="Project Managment (Offline)" id="managment-offline")
                                        label(for="managment-offline")
                                        i.fa.fa-long-arrow-right
                                    span.course-designer__cours-name Project Managment (Offline)
                                        input(type="checkbox" value="Project Managment (Offline)" id="managment-offline")
                                        label(for="managment-offline")
                                        i.fa.fa-long-arrow-right
                                    //- span.course-designer__cours-name Project Managment (Offline)
                                    //-     input(type="checkbox" value="Project Managment (Offline)" id="managment-offline")
                                    //-     label(for="managment-offline")
                                    //-     i.fa.fa-long-arrow-right

                            .course-designer__items-wrap#course-designer__name-block
                                p.course-designer__courses-name Название модуля
                                a(href="#").course-designer__up
                                    i.fa.fa-chevron-up
                                a(href="#").course-designer__down
                                    i.fa.fa-chevron-down
                                .course-designer__scroll
                                    //.mCustomScrollbar(data-mcs-theme="dark-3")
                                    span.course-designer__cours-name.course-designer__cours-name_selected.course-designer__cours-name_selected-all#course-designer__cours-name_selected-all
                                        | Полный курс
                                        input(type="checkbox" value="Полный курс" id="full-course")
                                        label(for="full-course")
                                    span.course-designer__cours-name Управление проектами
                                        input(type="checkbox" value="Управление проектами" id="item1")
                                        label(for="item1")
                                    span.course-designer__cours-name Управление командой
                                        input(type="checkbox" value="Управление командой" id="item2")
                                        label(for="item2")
                                    span.course-designer__cours-name Работа с клиентами
                                        input(type="checkbox" value="Работа с клиентами" id="item3")
                                        label(for="item3")
                                    span.course-designer__cours-name Маркетинг
                                        input(type="checkbox" value="Маркетинг" id="item4")
                                        label(for="item4")
                                    span.course-designer__cours-name Маркетинг
                                        input(type="checkbox" value="Маркетинг" id="item5")
                                        label(for="item5")
                                    span.course-designer__cours-name Маркетинг
                                        input(type="checkbox" value="Маркетинг" id="item6")
                                        label(for="item6")
                                    span.course-designer__cours-name Маркетинг
                                        input(type="checkbox" value="Маркетинг" id="item8")
                                        label(for="item8")
                                    span.course-designer__cours-name Маркетинг
                                        input(type="checkbox" value="Маркетинг" id="item9")
                                        label(for="item9")
                                    span.course-designer__cours-name Маркетинг
                                        input(type="checkbox" value="Маркетинг" id="item10")
                                        label(for="item10")
                            .course-designer__items-wrap.course-designer__items-wrap_width
                                .course-designer__items-chosed#course-designer__items-chosed
                                    a(href="#").course-designer__up
                                        i.fa.fa-chevron-up
                                    a(href="#").course-designer__down
                                        i.fa.fa-chevron-down
                                    .course-designer__text
                                        p.course-designer__courses-finish Вы выбрали курс:
                                        p.course-designer__courses-chosed IT Project Managment (Online)
                                    .course-designer__items-list
                                        //a(href="#")
                                            i.fa.fa-chevron-up
                                        //a(href="#")
                                            i.fa.fa-chevron-down
                                        ul
                                            li Полный курс

                            .col-lg-12.col-xs-12.course-designer__form-slider
                                .course-designer__form-contacts
                                    span.course-designer__accept Подтвердить
                                    .intermediate_item
                                        .input_wrap
                                            i.fa.fa-check
                                            input(name='name', type='text', placeholder='ИМЯ ФАМИЛИЯ')
                                    .intermediate_item
                                        .input_wrap
                                            i.fa.fa-check
                                            input(name='phone', type='text', placeholder='ТЕЛЕФОН').mask
                                    .intermediate_item
                                        .input_wrap
                                            i.fa.fa-check
                                            input(name='email', type='text', placeholder='E-MAIL')
                                    input(type='hidden', name='form_name', value='baseForm')
                                    input(type='hidden', name='form_type', value='normal')
                                    .intermediate_item
                                        input(type='submit', value='Записаться')
                        .slider-count
                            span.current-slide
                            //span.total-slide
                .row
                    .col-lg-12.col-xs-12
                        form
                            .course-designer__form-contacts.course-designer__form-contacts-single
                                .intermediate_item
                                    .input_wrap
                                        i.fa.fa-check
                                        input(name='name', type='text', placeholder='ИМЯ ФАМИЛИЯ')
                                .intermediate_item
                                    .input_wrap
                                        i.fa.fa-check
                                        input(name='phone', type='text', placeholder='ТЕЛЕФОН').mask
                                .intermediate_item
                                    .input_wrap
                                        i.fa.fa-check
                                        input(name='email', type='text', placeholder='E-MAIL')
                                input(type='hidden', name='form_name', value='baseForm')
                                input(type='hidden', name='form_type', value='normal')
                                .intermediate_item
                                    input(type='submit', value='Записаться')
        section.training#training
            .container
                .row
                    .col-sm-12
                        h2.training__title Как проходит обучение
                .row
                    .col-lg-6
                        .training__stages
                            span.training__stages-number 01
                            .training__stages-info
                                p.training__stages-name Два лектора закрепленных за группой
                                p.training__stages-description В каждой группе студентов будет два лектора, с помощью которых усвоение материала будет качественным и профессиональным.
                        .training__stages
                            span.training__stages-number 02
                            .training__stages-info
                                p.training__stages-name Подход к обучению
                                p.training__stages-description 90 % практики и 10 % теории. Обучение будет построено на повторениях, играх, видео материалах, авторских методиках, чтобы каждый студент мог усваивать доступным способом всю информацию и получать эффективные знания.
                        .training__stages
                            span.training__stages-number 03
                            .training__stages-info
                                p.training__stages-name Домашние задания
                                p.training__stages-description Студент будет выполнять домашние задания, для закрепления и усвоения знаний. После каждого тренинга будет предоставляться видео-запись, чтобы студент еще раз повторил материал и успешно выполнил домашнее задание.
                    .col-lg-6
                        .training__stages
                            span.training__stages-number 04
                            .training__stages-info
                                p.training__stages-name Обратная связь
                                p.training__stages-description Лекторы будут находиться постоянно в сети и Вы взаимодействуя с ними сможете получать профессиональные ответы на вопросы. Также будет закрытая группа в соц.сетях, где можно задавать вопросы и получать ответы, и будут доступны  полезные обучающие материалы -  книги, видео, статьи, игры, тесты  и др.
                        .training__stages
                            span.training__stages-number 05
                            .training__stages-info
                                p.training__stages-name Защита проектов
                                p.training__stages-description Каждый студент защищает свой проект, и после сдачи - получает диплом и рекомендации по трудоустройству.
        section.questions#questions
            .container
                .row
                    .col-sm-12
                        h2.questions__title Вопросы и ответы
                .row
                    .col-lg-6
                        #accordionLeft.panel-group(role='tablist', aria-multiselectable='true')
                            .panel.panel-default
                                #headingOne.questions__panel-heading(role='tab')
                                    p
                                        a(role='button', data-toggle='collapse', data-parent='#accordionLeft', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                                            | Как записаться на курс ?
                                #collapseOne.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingOne')
                                    .panel-body
                                        p
                                            span Ответ:
                                            | Воспользуйтесь нашим конструктором курса. Выбираете курс, затем выбираете нужный вам модуль, вводите свое имя, телефон и e-mail нажимаете кнопку “Записаться”. С вами свяжется менеджер для дальнейших шагов


                            .panel.panel-default
                                #headingTwo.questions__panel-heading(role='tab')
                                    p
                                        a(role='button', data-toggle='collapse', data-parent='#accordionLeft', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                                            | Сколько длится обучение ?
                                #collapseTwo.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo')
                                    .panel-body
                                        p
                                            span Ответ:
                                            | Обучение длится 2 месяца и будет проходить в онлайн режиме, два раза в неделю вечером с 19 до 21 00.

                            .panel.panel-default
                                #headingThree.questions__panel-heading(role='tab')
                                    p
                                        a(role='button', data-toggle='collapse', data-parent='#accordionLeft', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                                            | Как происходит обучение?
                                #collapseThree.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
                                    .panel-body
                                        p
                                            span Ответ:
                                            | Студенты будут приглашены в закрытое онлайн сообщество, в котором лекторы будут делиться своими знаниями и опытом, а учащиеся будут иметь возможность задавать свои вопросы и получать на них ответы.

                            .panel.panel-default
                                #headingFour.questions__panel-heading(role='tab')
                                    p
                                        a(role='button', data-toggle='collapse', data-parent='#accordionLeft', href='#collapseFour', aria-expanded='false', aria-controls='collapseFour')
                                            | Как происходит обучение по модулям отдельно?
                                #collapseFour.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingFour')
                                    .panel-body
                                        p
                                            span Ответ:
                                            | При покупке отдельного модуля, Вы попадаете в закрытую группу, в которой получите всю информацию о занятиях и расписании.
                            .panel.panel-default
                                #headingFive.questions__panel-heading(role='tab')
                                    p
                                        a(role='button', data-toggle='collapse', data-parent='#accordionLeft', href='#collapseFive', aria-expanded='false', aria-controls='collapseFive')
                                            | Предоставляете ли вы учебные материалы?
                                #collapseFive.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingFive')
                                    .panel-body
                                        p
                                            span Ответ:
                                            | Да, предоставляем.После каждого тренинга высылаем на почту презентацию и другие материалы с занятия.

                    .col-lg-6
                        #accordionRight.panel-group(role='tablist', aria-multiselectable='true')
                            .panel.panel-default
                                #headingRightOne.questions__panel-heading(role='tab')
                                    p
                                        a(role='button', data-toggle='collapse', data-parent='#accordionRight', href='#collapseRightOne', aria-expanded='true', aria-controls='collapseRightOne')
                                            | Будут ли записи видео с лекций?
                                #collapseRightOne.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingRightOne')
                                    .panel-body
                                        p
                                            span Ответ:
                                            | Видео-лекции предоставляются студентам после каждого занятия.

                            .panel.panel-default
                                #headingRightTwo.questions__panel-heading(role='tab')
                                    p
                                        a(role='button', data-toggle='collapse', data-parent='#accordionRight', href='#collapseRightTwo', aria-expanded='false', aria-controls='collapseRightTwo')
                                            | Как оплачивать курс и отдельно модули?
                                #collapseRightTwo.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingRightTwo')
                                    .panel-body
                                        p
                                            span Ответ:
                                            | Оплачивается курс на карту Visa, MasterCard, WebMoney, PayPal, Western Union.

                            .panel.panel-default
                                #headingRightThree.questions__panel-heading(role='tab')
                                    p
                                        a(role='button', data-toggle='collapse', data-parent='#accordionRight', href='#collapseRightThree', aria-expanded='false', aria-controls='collapseRightThree')
                                            | Возможно ли платить по частям за курс?
                                #collapseRightThree.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingRightThree')
                                    .panel-body
                                        p
                                            span Ответ:
                                            | Возможно, индивидуально обсуждается с каждым студентом.

                            .panel.panel-default
                                #headingRightFour.questions__panel-heading(role='tab')
                                    p
                                        a(role='button', data-toggle='collapse', data-parent='#accordionRight', href='#collapseRightFour', aria-expanded='false', aria-controls='collapseRightFour')
                                            | Какие требования к студентам для обучения в Вашей программе ?
                                #collapseRightFour.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingRightFour')
                                    .panel-body
                                        p
                                            span Ответ:
                                            | Наша программа рассчитана на новичков в проектном менеджменте. Но обязательным требованием является знание Английского языка не ниже Intermediate так как вся терминология проектного менеджмента на английском.
                            .panel.panel-default
                                #headingRightFive.questions__panel-heading(role='tab')
                                    p
                                        a(role='button', data-toggle='collapse', data-parent='#accordionRight', href='#collapseRightFive', aria-expanded='false', aria-controls='collapseRightFive')
                                            | Какие требования к студентам для обучения в Вашей программе ?
                                #collapseRightFive.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingRightFive')
                                    .panel-body
                                        p
                                            span Ответ:
                                            | Наша программа рассчитана на новичков в проектном менеджменте. Но обязательным требованием является знание Английского языка не ниже Intermediate так как вся терминология проектного менеджмента на английском.
        section.have-questions#have-questions
                .container
                    .row
                        .have-questions__wrap
                            h2.have-questions__title Остались вопросы?
                            form#form
                                .course-designer__form-contacts
                                    .intermediate_item
                                        .input_wrap
                                            i.fa.fa-check
                                            input(name='name', type='text', placeholder='ИМЯ ФАМИЛИЯ')
                                    .intermediate_item
                                        .input_wrap
                                            i.fa.fa-check
                                            input(name='email', type='text', placeholder='E-MAIL')
                                    .intermediate_item
                                        .input_wrap
                                            i.fa.fa-check
                                            textarea(name='textarea', placeholder='')
                                    input(type='hidden', name='form_name', value='baseForm')
                                    input(type='hidden', name='form_type', value='normal')
                                    .intermediate_item
                                        input(type='submit', value='Отправить')


