extends ../base
block title
    | внутренняя страница
block main
    main#my-content
        section.next-course
            .next-course__content
                p.next-course__begin cтарт курса:
                    span.next-course__begin-date 7 ноября
                h1.next-course__title IT Project management
                ul.next-course__info
                    li 40 часов
                    li 4000 грн\месяц
                    li Вт, Чт \ 1 час
                    li Online \ Offline
                button.button Записаться на курс
        section.what-get
            .container
                .row
                    .col-md-12.col-sm-12
                        h2.what-get__title Что вы получите?
                    .col-md-6.col-sm-12
                        ul.after-study__advantages-list
                            li
                                span 01
                                p Полное понимание процесса разработки
                            li
                                span 02
                                p Знания инструментов Project management
                            li
                                span 03
                                p Знания в правильном подборе специалистов
                            li
                                span 04
                                p Опыт работы с командой
                            li
                                span 05
                                p Навыки и методы работы с клиентами
                            li
                                span 06
                                p Навыки успешных переговоров
                    .col-md-6.col-sm-12.col-md-offset-6.col-sm-offset-0
                        ul.after-study__advantages-list.what-get__advantages-list_mt
                            li
                                span 07
                                p Создание и продвижение идей для своих IT-продуктов
                            li
                                span 08
                                p Мастерство продающих презентаций
                            li
                                span 09
                                p Успешные и жесткие продажи
                            li
                                span 10
                                p Инструменты по эффективному  интернет маркетингу
                            li
                                span 11
                                p Направления в личностном и профессиональном росте
                            li
                                span 12
                                p Методы самомотивации и мотивации команды
        section.about-course
            .container
                .row
                    .col-md-12.col-sm-12
                        h2.about-course__title О курсе
                    .col-lg-7.col-md-10.col-sm-12
                        .about-course__description
                            p Роль проектного менеджера выходит далеко за пределы планирования, постановки задач команде и контроля сроков и качества. Хороший проджект-менеджер должен меть продавать идею. От эффективности его работы зависит не только конкретный проект, но и репутация компании на рынке, ее успехи в будущем.
                    .col-md-10.col-sm-12.col-md-offset-1
                        #video.video
                            .video__bg
                            video(src="video/video.mp4" width="100%" height="526")
                            a.video__play-pause(type="button" id="play-pause")
                        .col-lg-7.col-md-10.col-sm-12.col-lg-offset-4.col-md-offset-2
                            p.about-course__description
                                | MIT представляет онлайн-курс “
                                span.about-course__description_accent IT Project management
                                | " о том, как  управлять проектами, командой, создавать продукт и выполнять проектные задачи: стратегические, тактические и операционные. Вы научитесь вести отчетность, работать с заказчиками, организовать работу команды, управлять рисками и изменениями в проекте. Мы разберем инструменты и методологии Waterfall, Scrum, XP, Kanban и Lean. Применение этих знаний поможет реализовывать ваши собственные проекты вовремя в рамках бюджета и KPI.
        section.who-wait
            .container
                .who-wait__wrap
                    .row
                        .col-md-12.col-sm-12
                            h2.who-wait__title О курсе
                    .row
                        .who-wait__items-wrap
                            .col-md-4
                                img.who-wait__item-ic(src="img/project_manager_ic.png")
                                p.who-wait__item-text Для начинающих менеджеров проектов
                            .col-md-4
                                img.who-wait__item-ic(src="img/product_owners_ic.png")
                                p.who-wait__item-text Для IT специалистов, которые хотят вырасти до менеджера проектов
                            .col-md-4
                                img.who-wait__item-ic(src="img/it_specialist_ic.png")
                                p.who-wait__item-text Будущих продуктовых менеджеров
                    .row
                        .who-wait__items-wrap
                            .col-md-4
                                img.who-wait__item-ic(src="img/starters_companies_ic.png")
                                p.who-wait__item-text Руководителей команд
                            .col-md-4
                                img.who-wait__item-ic(src="img/managers_ic.png")
                                p.who-wait__item-text Бизнес аналитиков
                            .col-md-4
                                img.who-wait__item-ic(src="img/it_entrepreneurs_ic.png")
                                p.who-wait__item-text Стартаперов
        section.course-schedule
            .container
                .row
                    .col-md-12.col-sm-12
                        h2.course-schedule__title Расписание курса
                .row
                    .course-schedule__swich-type_wrap
                        ul.course-schedule__swich-type
                            li.active
                                a(href='#Online', data-toggle='tab') Online
                            li
                                a(href='#Offline', data-toggle='tab') Offline

                .row
                    .tab-content
                        #Online.tab-pane.actip 1ve

                        #Offline.tab-pane
                            p 2
            //допилить здесь
        section.career
            .container
                .row
                    .col-md-12.col-sm-12
                        h2.career__title Карьерный рост it pm
                .row
                    .col-sm-3.col-xs-12.career__item
                        .career__item-wrap
                            span.career__step 01
                            p.career__position Project manager
                    .col-sm-3.col-xs-12.career__item
                        .career__item-wrap
                            span.career__step 02
                            p.career__position Program manager
                    .col-sm-3.col-xs-12.career__item
                        .career__item-wrap
                            span.career__step 03
                            p.career__position Project portfolio manager
                    .col-sm-3.col-xs-12.career__item
                        .career__item-wrap
                            span.career__step 04
                            p.career__position ТОП менеджмент

