extends ../base
block title
    | внутренняя страница
block main
    main#my-content
        section.next-course
            .next-course__content
                p.next-course__begin cтарт курса:
                    span.next-course__begin-date 7 ноября
                h1.next-course__title IT Project management
                ul.next-course__info
                    li 40 часов
                    li 4000 грн\месяц
                    li Вт, Чт \ 1 час
                    li Online \ Offline
                button.button Записаться на курс
        section.what-get
            .container
                .row
                    .col-md-12.col-sm-12
                        h2.what-get__title Что вы получите?

                    .col-md-6.col-sm-12
                        ul.after-study__advantages-list
                            li
                                span 01
                                p Полное понимание процесса разработки
                            li
                                span 02
                                p Знания инструментов Project management
                            li
                                span 03
                                p Знания в правильном подборе специалистов
                            li
                                span 04
                                p Опыт работы с командой
                            li
                                span 05
                                p Навыки и методы работы с клиентами
                            li
                                span 06
                                p Навыки успешных переговоров
                    .col-md-6.col-sm-12.col-md-offset-6.col-sm-offset-0
                        ul.after-study__advantages-list.what-get__advantages-list_mt
                            li
                                span 07
                                p Создание и продвижение идей для своих IT-продуктов
                            li
                                span 08
                                p Мастерство продающих презентаций
                            li
                                span 09
                                p Успешные и жесткие продажи
                            li
                                span 10
                                p Инструменты по эффективному  интернет маркетингу
                            li
                                span 11
                                p Направления в личностном и профессиональном росте
                            li
                                span 12
                                p Методы самомотивации и мотивации команды
